---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@fontsource-variable/open-sans";
import "@fontsource-variable/rubik";
import Dialog from "../../../../globals/components/custom-dialog/dialog.astro";
import Form from "../../../../globals/components/form";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import "../styles/global.css";
import BackToTop from "../../../../globals/components/back-to-top/back-to-top.astro";

interface Props {
  componentProps: ComponentProps;
}

const { componentProps } = Astro.props;

const lang = componentProps.lang as keyof typeof componentProps.brandObj.typage;

const modalTitle: TranslationsType = {
  en: "Claim your free signals kit",
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: ``,
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
  showcase: "Donec sodales sagittis magna.",
};

const btnLabel: TranslationsType = {
  en: "Start now",
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: ``,
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
  showcase: "Etiam rhoncus",
};
---

<!doctype html>
<html
  lang={lang !== "showcase" ? lang : "en"}
  dir={lang === "ar" ? "rtl" : "ltr"}
  data-brandname={componentProps.brandObj.name}
  data-lptype={componentProps.lpType}
  data-registrationtype={componentProps.registrationType}
  data-recaptchasitekey={componentProps.brandObj.recaptchaKey}
  data-typage={componentProps.brandObj.typage[lang]}
  data-openwa={componentProps.brandObj.whatsapp && "true"}
  data-wanumber={componentProps.brandObj.whatsapp
    ? componentProps.brandObj.whatsappNumber[lang]
    : false}
  data-lpfeatures={componentProps.features?.join(', ')}
>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={componentProps.brandObj.images.faviconLink}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{componentProps.lpName} | {componentProps.brandObj.name}</title>
    <style>
      html {
        scroll-behavior: smooth;
      }
      body {
        font-family: "Open Sans Variable", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="site-wrapper">
      <Header componentProps={componentProps} />
      <main>
        <slot />
      </main>
      <Footer componentProps={componentProps} />
    </div>
    <Dialog>
      <div class="space-y-6">
        <h3
          set:html={modalTitle[componentProps.lang]}
          class="text-heading2 font-rubik text-center font-black text-balance uppercase"
        />
        <Form
          componentProps={componentProps}
          button={btnLabel[componentProps.lang]}
          id="modal-form"
          layout={2}
        />
      </div>
    </Dialog>
    <BackToTop />
    <script
      type="module"
      src="https://assets.smartsupporthub.com/js/bundle/astro_lp_v2.js"
      is:inline></script>
  </body>
</html>

<style>
  #site-wrapper {
    /* issue with responsive table - page is long enough and footer comes naturally at the very bottom */
    /* display: grid;
    grid-template-rows: auto 1fr auto; */
    min-height: 100vh;

    display: flex;
    flex-direction: column;
  }
</style>

<!-- <style lang="scss" is:global>
  .modal {
    background: var(--primary) !important;
    // color: var(--color-primary-foreground) !important;
    button {
      background: var(--secondary) !important;
      &:hover {
        background: oklch(from var(--secondary) l c h / 0.8) !important;
      }
    }
  }
</style> -->

<script>
  import { initModal } from "../../../../globals/components/custom-dialog/init.ts";
  initModal();
</script>
