---
import {
  buttonWrapperDisclaimer,
  buttonWrapperLabel,
} from "@/translations/button-wrapper";
import { Image } from "astro:assets";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";
import brands from "../assets/brands.png";
import ButtonWrapper from "./Button-Wrapper";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: ``,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: `What motivates traders to buy and sell CFDs on stocks?`,
      it: ``,
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: ``,
      sv: ``,
      pt: ``,
      fi: "",
      pl: `Co motywuje traderów do działania na CFD?`,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const paras: TranslationsType[] = [
  textBy(
    {
      default: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: "",
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      cysec: {
        en: `Traders can choose from a variety of products to trade CFDs on stocks.`,
        it: ``,
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: ``,
        sv: ``,
        pt: ``,
        fi: "",
        pl: `Nasi klienci wybierają z szerokiej gamy spółek CFD.`,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
    },
    "license",
    componentProps,
  ),
  textBy(
    {
      default: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: "",
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      cysec: {
        en: "CFD on shares trading, based on fundamental analysis of the markets, is a very popular investment product who follow markets and can identify companies offering trading opportunities.",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: "",
        pt: "",
        fi: "",
        pl: `Handel CFD, oparty na fundamentalnej analizie rynków, jest najpopularniejszą formą inwestycji, która pozwala na zarabianie niezależnie od obranego kierunku ceny.`,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
    },
    "license",
    componentProps,
  ),
  textBy(
    {
      default: {
        en: "",
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: "",
        pt: "",
        fi: "",
        pl: ``,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      cysec: {
        en: `<strong>${componentProps.brandObj.name}</strong> offers a wide range of free educational tools and daily market news to keep you informed on financial markets.`,
        it: "",
        tr: "",
        ro: "",
        ar: "",
        de: "",
        es: "",
        sv: "",
        pt: "",
        fi: "",
        pl: `<strong>${componentProps.brandObj.name}</strong> oferuje szeroką gamę bezpłatnych narzędzi edukacyjnych i codziennych wiadomości rynkowych, aby na bieżąco informować Cię na temat rynku.`,
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
    },
    "license",
    componentProps,
  ),
];
---

<section id="section2" class="py-7 pb-7 md:py-8 lg:py-9 xl:py-11">
  <div class="container flex flex-col gap-8 lg:flex-row">
    <div
      class="flex flex-col justify-center gap-6 text-center lg:basis-7/12 lg:text-start"
    >
      <h2
        class="text-heading2 text-primary font-bold text-balance"
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({ words: 10 })
          : title[componentProps.lang]}
      />
      {
        paras.map((para) => {
          if (!para[componentProps.lang]) return null;

          return (
            <p
              set:html={
                componentProps.features?.includes(Features.showcase)
                  ? showcase({ words: 50 })
                  : para[componentProps.lang]
              }
            />
          );
        })
      }
      <div class="grid place-items-center lg:place-items-start">
        <ButtonWrapper
          componentProps={componentProps}
          buttonLabel={componentProps.features?.includes(Features.showcase)
            ? showcase({ words: 2 })
            : buttonWrapperLabel[componentProps.lang]}
          buttonDisclaimer={componentProps.features?.includes(Features.showcase)
            ? showcase({ words: 5 })
            : buttonWrapperDisclaimer[componentProps.lang]}
          hrefTo="formWrapper"
          whatsapp={componentProps.brandObj.whatsapp}
          client:only
        />
      </div>
    </div>
    <div class="lg:basis-5/12">
      <Image
        src={brands}
        alt="Background"
        class="mx-auto mt-4 max-w-full sm:max-w-[300px]"
        widths={[320, 576, 640, 768, 1024, 1280, 1536, brands.width]}
        sizes={`
          (max-width: 1023px) 270px,
          392px
        `}
      />
    </div>
  </div>
</section>
