---
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../../globals/types/translations";
import image from "../../assets/brand/man.png";
import { Button } from "../ui/button";
import { Features } from "../../../../../globals/types/enums";
import { showcase } from "../../../../../globals/features/showcase/text";
import { MAIL_ICON } from "../../constants/mail-icon";
import { PHONE_ICON } from "../../constants/phone-icon";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Thank you for registering!`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const paras: TranslationsType[] = [
  {
    en: `In order to provide you access to the tools and features you have registered for, a practice account has been open for you with our trusted partner, FXORO Global.`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  {
    en: `You can start exploring your account right away by clicking the button below:`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
];

const buttonLabel: TranslationsType = {
  en: `Check trading tools`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const list: {
  icon: string;
  label: TranslationsType;
}[] = [
  {
    icon: MAIL_ICON,
    label: {
      en: `You will also find an email from FXORO Global with all your registration details, so you can access them anytime.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    icon: PHONE_ICON,
    label: {
      en: `To ensure everything is set up smoothly, one of our representatives will be reaching out to you within the next 24-48 hours.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
];

const cta: TranslationsType = {
  en: `We are excited to help you take the first step in your trading journey!`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section id="section1" class="h-full overflow-clip">
  <div
    class="relative container flex h-full flex-col gap-4 py-4 lg:flex-row lg:py-10"
  >
    <div
      class="flex h-full grow flex-col justify-center gap-4 pb-4 lg:gap-8 lg:pb-10 lg:text-start"
    >
      <h1
        class="text-heading1 leading-tight font-black text-balance uppercase"
        set:html={title[componentProps.lang]}
      />

      {
        paras.map((para, index) => {
          return (
            <p
              class={cn("text-para-lead text-balance", {
                "font-bold": (index + 1) % 2 === 0,
              })}
              set:html={para[componentProps.lang]}
            />
          );
        })
      }

      <Button
        variant={"accent-orange"}
        className={"border-primary h-auto w-fit cursor-pointer gap-4 border-2 px-16 py-4 text-lg font-bold text-white uppercase md:px-20 md:py-6 lg:text-2xl xl:text-4xl"}
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 2,
            })
          : buttonLabel[componentProps.lang]}
      />

      {
        list.length > 0 && (
          <ul class="flex flex-col gap-4">
            {list.map((item) => (
              <li class="text-para-lead flex items-center gap-4 py-2">
                <div set:html={item.icon} class="w-fit [&_svg]:size-16" />
                <div>{item.label[componentProps.lang]}</div>
              </li>
            ))}
          </ul>
        )
      }

      {
        cta[componentProps.lang] && (
          <p
            set:html={cta[componentProps.lang]}
            class="text-primary text-para-lead font-bold text-balance"
          />
        )
      }
    </div>
    <div class="relative grid place-items-center lg:w-[500px] lg:min-w-[500px]">
      <Image
        src={image}
        alt="Introduction to trading"
        class={cn(
          "relative left-0 z-10 -mb-20 w-full max-w-[450px] lg:absolute lg:bottom-0 lg:h-auto lg:w-[610px] lg:max-w-none",
          componentProps.lang === "ar" ? "scale-x-[-1]" : "",
        )}
        widths={[320, 576, image.width]}
        loading="eager"
        sizes={`
          (max-width: 320px) 270px,
          (max-width: 1023px) 350px,
          350px
        `}
      />
    </div>
  </div>
</section>
