---
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../../globals/types/translations";
import image from "../../assets/brand/man.png";
import { Button } from "../ui/button";
import { Features } from "../../../../../globals/types/enums";
import { showcase } from "../../../../../globals/features/showcase/text";
import { MAIL_ICON } from "../../constants/mail-icon";
import { PHONE_ICON } from "../../constants/phone-icon";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Thank you for registering!`,
  it: ``,
  tr: ``,
  ro: `Vă mulțumim pentru înregistrare!`,
  ar: `شكرًا لتسجيلك!`,
  de: ``,
  es: `¡Gracias por registrarte!`,
  sv: ``,
  pt: `Obrigado por se registrar!`,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: `Cảm ơn bạn đã đăng ký!`,
};

const paras: TranslationsType[] = [
  {
    en: `In order to provide you access to the tools and features you have registered for, a practice account has been open for you with our trusted partner, FXORO Global.`,
    it: ``,
    tr: ``,
    ro: `Pentru a vă oferi acces la instrumentele și funcțiile pentru care v-ați înregistrat, a fost deschis un cont demonstrativ pentru dumneavoastră cu partenerul nostru de încredere, FXORO Global.`,
    ar: `من أجل توفير الوصول إلى الأدوات والميزات التي قمت بالتسجيل من أجلها، تم فتح حساب تجريبي لك مع شريكنا الموثوق، FXORO Global.`,
    de: ``,
    es: `Para proporcionarte acceso a las herramientas y funciones para las que te has registrado, se ha abierto una cuenta de práctica para ti con nuestro socio de confianza, FXORO Global.`,
    sv: ``,
    pt: `Para fornecer acesso às ferramentas e funcionalidades para as quais você se registrou, uma conta de demonstração foi aberta para você com nosso parceiro de confiança, FXORO Global.`,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: `Để cung cấp cho bạn quyền truy cập vào các công cụ và tính năng mà bạn đã đăng ký, một tài khoản thực hành đã được mở cho bạn với đối tác đáng tin cậy của chúng tôi, FXORO Global.`,
  },
  {
    en: `You can start exploring your account right away by clicking the button below:`,
    it: ``,
    tr: ``,
    ro: `Puteți începe să explorați contul dumneavoastră imediat făcând clic pe butonul de mai jos:`,
    ar: `يمكنك البدء في استكشاف حسابك فورًا من خلال النقر على الزر أدناه:`,
    de: ``,
    es: `Puedes empezar a explorar tu cuenta de inmediato haciendo clic en el botón de abajo:`,
    sv: ``,
    pt: `Você pode começar a explorar sua conta imediatamente clicando no botão abaixo:`,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: `Bạn có thể bắt đầu khám phá tài khoản của mình ngay lập tức bằng cách nhấn vào nút bên dưới:`,
  },
];

const buttonLabel: TranslationsType = {
  en: `Check trading tools`,
  it: ``,
  tr: ``,
  ro: `Verifică instrumentele de tranzacționare`,
  ar: `تحقق من أدوات التداول`,
  de: ``,
  es: `Revisa las herramientas de trading`,
  sv: ``,
  pt: `Verifique as ferramentas de negociação`,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: `Kiểm tra các công cụ giao dịch`,
};

const list: {
  icon: string;
  label: TranslationsType;
}[] = [
  {
    icon: MAIL_ICON,
    label: {
      en: `You will also find an email from FXORO Global with all your registration details, so you can access them anytime.`,
      it: ``,
      tr: ``,
      ro: `De asemenea, veții găsi un e-mail de la FXORO Global cu toate detaliile înregistrării dvs., astfel încât să puteți accesa oricând aceste informații.`,
      ar: `ستجد أيضًا بريدًا إلكترونيًا من FXORO Global يحتوي على جميع تفاصيل تسجيلك، حتى تتمكن من الوصول إليها في أي وقت.`,
      de: ``,
      es: `También encontrarás un correo electrónico de FXORO Global con todos los detalles de tu registro, para que puedas acceder a ellos en cualquier momento.`,
      sv: ``,
      pt: `Você também receberá um e-mail da FXORO Global com todos os detalhes do seu registro, para que possa acessá-los a qualquer momento.`,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: `Bạn cũng sẽ nhận được một email từ FXORO Global với tất cả thông tin đăng ký của bạn, để bạn có thể truy cập bất cứ lúc nào.`,
    },
  },
  {
    icon: PHONE_ICON,
    label: {
      en: `To ensure everything is set up smoothly, one of our representatives will be reaching out to you within the next 24-48 hours.`,
      it: ``,
      tr: ``,
      ro: `Pentru a ne asigura că totul este configurat corect, unul dintre reprezentanții noștri vă va contacta în următoarele 24-48 de ore.`,
      ar: `ولضمان سير كل شيء بسلاسة، سيتواصل معك أحد ممثلينا خلال الـ 24-48 ساعة القادمة.`,
      de: ``,
      es: `Para garantizar que todo esté configurado correctamente, uno de nuestros representantes se pondrá en contacto contigo en las próximas 24-48 horas.`,
      sv: ``,
      pt: `Para garantir que tudo seja configurado corretamente, um de nossos representantes entrará em contato com você nas próximas 24-48 horas.`,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: `Để đảm bảo mọi thứ được thiết lập suôn sẻ, một trong các đại diện của chúng tôi sẽ liên hệ với bạn trong vòng 24-48 giờ tới.`,
    },
  },
];

const cta: TranslationsType = {
  en: `We are excited to help you take the first step in your trading journey!`,
  it: ``,
  tr: ``,
  ro: `Suntem încântați să vă ajutăm să faceți primul pas în călătoria dvs. de tranzacționare!`,
  ar: `نحن متحمسون لمساعدتك في اتخاذ أول خطوة في رحلتك في التداول!`,
  de: ``,
  es: `¡Estamos emocionados de ayudarte a dar el primer paso en tu camino de trading!`,
  sv: ``,
  pt: `Estamos animados para ajudar você a dar o primeiro passo na sua jornada de trading!`,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: `Chúng tôi rất vui được giúp bạn bắt đầu những bước đầu tiên trong hành trình giao dịch của mình!`,
};
---

<section id="section1" class="h-full overflow-clip">
  <div
    class="relative container flex h-full flex-col gap-4 py-4 lg:flex-row lg:py-10"
  >
    <div
      class="flex h-full grow flex-col justify-center gap-4 pb-4 lg:gap-8 lg:pb-10 lg:text-start"
    >
      <h1
        class="text-heading1 leading-tight font-black text-balance uppercase"
        set:html={title[componentProps.lang]}
      />

      {
        paras.map((para, index) => {
          return (
            <p
              class={cn("text-para-lead text-balance", {
                "font-bold": (index + 1) % 2 === 0,
              })}
              set:html={para[componentProps.lang]}
            />
          );
        })
      }

      <form action={`https://my.fxoroglobal.com/${componentProps.lang}`} method="post">
        <input type="hidden" name="Username" />
        <input type="hidden" name="Password" />
        <input type="hidden" name="ufprt" />
        <Button
          variant={"accent-orange"}
          type="submit"
          className={"border-primary h-auto w-fit cursor-pointer gap-4 border-2 px-16 py-4 text-lg font-bold text-white uppercase md:px-20 md:py-6 lg:text-2xl xl:text-4xl"}
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 2,
              })
            : buttonLabel[componentProps.lang]}
        />
      </form>

      {
        list.length > 0 && (
          <ul class="flex flex-col gap-4">
            {list.map((item) => (
              <li class="text-para-lead flex items-center gap-4 py-2">
                <div set:html={item.icon} class="w-fit [&_svg]:size-16" />
                <div>{item.label[componentProps.lang]}</div>
              </li>
            ))}
          </ul>
        )
      }

      {
        cta[componentProps.lang] && (
          <p
            set:html={cta[componentProps.lang]}
            class="text-primary text-para-lead font-bold text-balance"
          />
        )
      }
    </div>
    <div class="relative flex items-end lg:w-[500px] lg:min-w-[500px]">
      <Image
        src={image}
        alt="Introduction to trading"
        class={cn(
          "relative z-10 -mb-26 w-full max-w-[450px] lg:h-auto lg:w-[670px] lg:max-w-none",
          componentProps.lang === "ar"
            ? "scale-x-[-1] right-0 left-auto"
            : "left-0 right-auto",
        )}
        widths={[320, 576, image.width]}
        loading="eager"
        sizes={`
          (max-width: 320px) 270px,
          (max-width: 1023px) 450px,
          710px
        `}
      />
    </div>
  </div>
</section>
