---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@fontsource-variable/montserrat"; // Supports weights 100-900
import BackToTop from "../../../../globals/components/back-to-top/back-to-top.astro";
import Dialog from "../../../../globals/components/custom-dialog/dialog.astro";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import "../styles/global.css";
import Form from "../../../../globals/components/form";
import { textBy } from "../../../../globals/utils/text-by";

interface Props {
  componentProps: ComponentProps;
  metaDescription: TranslationsType;
}

const { componentProps, metaDescription } = Astro.props;

const lang = componentProps.lang as keyof typeof componentProps.brandObj.typage;

const buttonLabel: TranslationsType = textBy(
  {
    default: {
      en: "Join Today",
      it: "",
      tr: "",
      ro: "",
      ar: "انضم اليوم",
      de: "",
      es: "Únete Hoy",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);
---

<!doctype html>
<html
  lang={lang}
  dir={lang === "ar" ? "rtl" : "ltr"}
  data-design="lagroedor"
  data-brandname={componentProps.brandObj.name}
  data-features={componentProps.features?.join(", ")}
  data-license={componentProps.license}
  data-lptype={componentProps.lpType}
  data-registrationtype={componentProps.registrationType}
  data-recaptchasitekey={componentProps.brandObj.recaptchaKey}
  data-typage={componentProps.brandObj.typage[lang]}
  data-openwa={componentProps.brandObj.whatsapp && "true"}
  data-wanumber={componentProps.brandObj.whatsapp
    ? componentProps.brandObj.whatsappNumber[lang]
    : false}
>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={componentProps.brandObj.images.faviconLink}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        componentProps.lpName
          ? componentProps.lpName + " | " + componentProps.brandObj.name
          : componentProps.brandObj.name
      }
    </title>
    {
      metaDescription[componentProps.lang] && (
        <meta
          name="description"
          content={metaDescription[componentProps.lang]}
        />
      )
    }
    <style>
      html {
        scroll-behavior: smooth;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      body {
        font-family: "Montserrat Variable", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="site-wrapper">
      <Header componentProps={componentProps} />
      <main>
        <slot />
      </main>
      <Footer componentProps={componentProps} />
    </div>
    <Dialog>
      <Form
        componentProps={componentProps}
        button={buttonLabel[componentProps.lang]}
        id="section-form"
        layout={2}
      />
    </Dialog>
    <BackToTop />
    <script
      type="module"
      src="https://assets.smartsupporthub.com/js/bundle/astro_lp_v2.js"
      is:inline></script>
  </body>
</html>

<style>
  #site-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
</style>

<script>
  import { initModal } from "../../../../globals/components/custom-dialog/init.ts";
  initModal();
</script>
