---
import { arrow } from "@/constants/icons/arrow";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import background from "../assets/hero.png";
import { Button, buttonVariants } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Start trading smarter, not harder`,
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const paras: TranslationsType[] = [
  {
    en: `Our education is not just about theory. It’s built to help you act. From identifying opportunities to managing your trades with discipline, we give you the tools that matter.`,
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  {
    en: `You won’t just learn how the markets work—you’ll learn how to work with them. Our program blends foundational knowledge with practical strategies, so you can apply what you learn in real scenarios, whether you're trading stocks, forex, or indices.`,
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
  {
    en: `Learn on your terms, with content that adapts to your experience level—so whether you're just starting or looking to refine your skills, we’ve got you covered.`,
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
  },
];

const button: TranslationsType = {
  en: `Explore the Program`,
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};
---

<section
  id="section3"
  class="section3 relative grid min-h-dvh place-items-center text-white"
>
  <Image
    src={background}
    alt="Background"
    class={cn(
      "absolute inset-0 z-0 h-full w-full object-cover",
      componentProps.lang === "ar" ? "scale-[-1] " : "",
    )}
    widths={[320, 576, 640, 768, 1024, 1280, 1536, background.width]}
    sizes={`100vw`}
    loading={"eager"}
  />
  <div
    class="relative z-10 container flex flex-col items-center justify-center gap-4 text-center md:gap-6 lg:gap-10"
  >
    <h2
      set:html={title[componentProps.lang]}
      class="text-heading2 font-oswald font-medium uppercase"
    />
    {
      paras.map((para) => (
        <p
          set:html={para[componentProps.lang]}
          class="max-w-[100ch] text-balance"
        />
      ))
    }

    <Button asChild>
      <a
        href={"#section4"}
        class={cn(
          buttonVariants({
            variant: "secondary",
          }),
          "text-white uppercase text-heading1",
        )}
        set:html={button[componentProps.lang]}
      />
    </Button>

    <a href={"#section4"} set:html={arrow} />
  </div>
</section>
