---
import { arrow } from "@/constants/icons/arrow";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import background from "../assets/hero.png";
import { Button, buttonVariants } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Master <span class="text-accent">trading</span> from the ground up`,
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const para: TranslationsType = {
  en: `Get the skills and insights you need to trade confidently. Our trading education is built for beginners and sharpened for future pros—no experience required. Whether you're just curious about the markets or aiming to build a serious trading strategy, this guide can support you during you trading journey. With clear explanations, practical tools, and real-world examples, you'll quickly go from learning the basics to understanding how the markets really move.`,
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const button: TranslationsType = {
  en: `Start Learning Now`,
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};
---

<section
  id="section1"
  class="section1 grid min-h-dvh place-items-center text-white"
>
  <Image
    src={background}
    alt="Background"
    class={cn(
      "absolute inset-0 z-0 h-full w-full object-cover",
      componentProps.lang === "ar" ? "scale-[-1] " : "",
    )}
    widths={[320, 576, 640, 768, 1024, 1280, 1536, background.width]}
    sizes={`100vw`}
    loading={"eager"}
  />
  <div
    class="relative z-10 container flex flex-col items-center justify-center gap-4 text-center md:gap-6 lg:gap-10"
  >
    <h1
      set:html={title[componentProps.lang]}
      class="text-heading1 font-oswald font-medium uppercase"
    />
    <p
      set:html={para[componentProps.lang]}
      class="max-w-[100ch] text-balance"
    />

    <Button asChild>
      <a
        href={"#section4"}
        class={cn(
          buttonVariants({
            variant: "secondary",
          }),
          "text-white uppercase text-heading1",
        )}
        set:html={button[componentProps.lang]}
      />
    </Button>

    <a href={"#section2"} set:html={arrow} />
  </div>
</section>
