---
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import phoneImage from "../assets/mobile.png";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const para: TranslationsType = {
  en: `The financial markets are full off opportunities and events with high monetization potential. The challenge is to spot these available opportunities, so you can take effective decisions. <strong>${componentProps.brandObj.name} - the reliable signal tool</strong>, can meet your needs and identify the best events you can take advantage of.`,
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
  showcase: `Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, <strong>${componentProps.brandObj.name} nisi quis porttitor congue</strong>, elit erat euismod orci, ac. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.`,
};

const listTitle: TranslationsType = {
  en: `You can get it right here along with these great benefits:`,
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
  showcase: "",
};

const list: TranslationsType[] = [
  {
    en: `Free SMS <strong>Signals</strong>`,
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
    showcase: "Cras <strong>dapibus</strong>",
  },
  {
    en: `One on one <strong>personal training</strong>`,
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
    showcase: "Vivamus elementum <strong>semper nisi</strong>",
  },
  {
    en: `Daily market <strong>analysis</strong>`,
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
    showcase: "Quisque <strong>rutrum</strong>",
  },
  {
    en: `Professional <strong>guidance & support</strong>`,
    it: "",
    tr: "",
    ro: "",
    ar: "",
    de: "",
    es: "",
    sv: ``,
    pt: "",
    fi: "",
    pl: ``,
    hu: "",
    th: "",
    ms: "",
    vi: "",
    showcase: "Etiam ultricies <strong>nisi vel augue</strong>",
  },
];
---

<section class="py-4">
  <div class="container md:flex md:gap-4">
    <div class="flex flex-col gap-4 pb-10">
      <p set:html={para[componentProps.lang]} />
      <p><strong set:html={listTitle[componentProps.lang]} /></p>
      <ul class="flex flex-col gap-1">
        {
          list.map((li) => (
            <li class="flex items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--charm"
                width="32"
                height="32"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 16 16"
              >
                <g
                  fill="none"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="1.5"
                >
                  <path d="M14.25 8.75c-.5 2.5-2.385 4.854-5.03 5.38A6.25 6.25 0 0 1 3.373 3.798C5.187 1.8 8.25 1.25 10.75 2.25" />
                  <path d="m5.75 7.75l2.5 2.5l6-6.5" />
                </g>
              </svg>
              <p set:html={li[componentProps.lang]} />
            </li>
          ))
        }
      </ul>
    </div>
    <div
      class="flex items-center justify-center md:min-w-[300px] lg:min-w-[350px]"
    >
      <Image
        src={phoneImage}
        alt="Apple Laptop Diploma"
        class="relative z-20 max-w-[264px] md:-mb-[120px] md:max-w-full lg:-mb-[130px]"
        widths={[320, phoneImage.width]}
        sizes={`350px`}
      />
    </div>
  </div>
</section>
