---
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import bg from "../assets/bg.jpg";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: ``,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: `¿Interesado en emprender un nuevo viaje comercial?`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
  showcase: `In enim justo, rhoncus ut, imperdiet a, venenatis justo.`,
};

const para: TranslationsType = {
  en: ``,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: `Invertir en su conocimiento y la formación sobre el comercio es muy importante antes de comenzar su nuevo viaje. Por eso, ${componentProps.brandObj.name} ofrece una biblioteca educativa completa para apoyar mejor sus necesidades comerciales.`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
  showcase: `Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, ${componentProps.brandObj.name} leo eget bibendum sodales, augue velit cursus nunc.`,
};
---

<section
  class="relative overflow-hidden border-y-[10px] border-[var(--secondary-dark)]"
>
  <Image
    src={bg}
    alt="Apple Laptop Diploma"
    class="absolute z-0 h-full w-full object-cover"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, bg.width]}
    sizes={`
      (max-width: 320px) 576px,
      (max-width: 576px) 768px,
      (max-width: 768px) 1024px,
      (max-width: 1024px) 1536px,
      100vw
    `}
  />

  <div class="absolute z-10 h-full w-full bg-zinc-800/60"></div>
  <div class="relative z-20 container flex flex-col gap-4 lg:flex-row">
    <div
      class="relative z-20 flex grow items-center justify-center py-9 text-center lg:z-0 lg:w-[50%] lg:min-w-[50%] lg:justify-start lg:p-0 lg:text-start"
    >
      <div class="flex max-w-[75ch] flex-col gap-4 text-white lg:py-10">
        <h1
          class="text-heading1 text-secondary leading-tight font-bold"
          set:html={title[componentProps.lang]}
        />
        <p
          class="text-start leading-tight"
          set:html={para[componentProps.lang]}
        />
      </div>
    </div>
  </div>
</section>
