---
import { cn } from "@/lib/utils";
import { type CustomOptions } from "@/pages/index.astro";
import { Image } from "astro:assets";
import MainLogo from "../../../../globals/components/logos/MainLogo.astro";
import { type ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";
import background from "../assets/candles.webp";
import foreground from "../assets/phones.webp";
import { showcase } from "../../../../globals/features/showcase/text";
import { Features } from "../../../../globals/types/enums";
import { Button } from "./ui/button";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";

interface Props {
  componentProps: ComponentProps<any, CustomOptions>;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: `Welcome to ${componentProps.brandObj.name}: <span class="text-secondary">your gateway to smart trading</span>`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: `Witamy w ${componentProps.brandObj.name}: <span class="text-secondary">twoja brama do inteligentnego tradingu</span>`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "license",
  componentProps,
);

const para: TranslationsType = textBy(
  {
    default: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: `Are you ready to take control of your financial future? At ${componentProps.brandObj.name}, we provide you with the tools, knowledge, and support to help you start trading with confidence. From your desktop account or through our advanced trading app, stay connected anytime, anywhere. `,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: `Czy jesteś gotowy, aby przejąć kontrolę nad swoją finansową przyszłością? W ${componentProps.brandObj.name} zapewniamy Ci narzędzia, wiedzę i wsparcie, które pomogą Ci rozpocząć handel z pewnością siebie. Korzystaj ze swojego konta na komputerze lub za pośrednictwem naszej zaawansowanej aplikacji tradingowej - bądź na bieżąco zawsze i wszędzie.`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "license",
  componentProps,
);

const buttonLabel: TranslationsType = textBy(
  {
    default: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: ``,
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: `Register now!`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: `Zarejestruj się teraz!`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  "license",
  componentProps,
);
---

<header class="relative">
  <div class="relative z-10">
    <div class="py-custom-spacing">
      <div class="container">
        <MainLogo
          size={componentProps.brandObj.nameToLower}
          logo={componentProps.logo()}
          square={componentProps.customOptions?.logoSquare}
        />
      </div>
    </div>
    <div class="py-custom-spacing">
      <div class="container">
        <div
          class="text-paras flex flex-col gap-[clamp(1.75rem,_1.6667rem_+_0.4167vw,_2rem)]"
        >
          <h1
            class={cn(
              "text-heading1 font-black uppercase text-balance",
              componentProps.lang === "pl" ? "max-w-[25ch]" : "max-w-[20ch]",
            )}
            set:html={title[componentProps.lang]}
          />

          <p
            set:html={para[componentProps.lang]}
            class="text-custom-size max-w-[40ch]"
          />

          <ButtonDisclaimer
            componentProps={componentProps}
            client:load
            className=""
            disclaimer={{
              active: true,
            }}
          >
            <Button
              variant={"secondary"}
              className={"js-modal-trigger text-para-lead! w-full cursor-pointer font-black uppercase md:px-16 md:py-3"}
              set:html={componentProps.features?.includes(Features.showcase)
                ? showcase({
                    words: 2,
                  })
                : buttonLabel[componentProps.lang]}
            />
          </ButtonDisclaimer>
        </div>
      </div>
    </div>
  </div>
  <div
    class="relative z-0 grid place-items-center overflow-clip lg:absolute lg:top-0 lg:right-0 lg:bottom-0 lg:h-full lg:w-1/2 lg:justify-start"
  >
    <div
      class="bg-primary absolute inset-0 -z-10 h-full w-full lg:[clip-path:_polygon(100%_0,_0%_100%,_100%_100%)]"
    >
    </div>
    <div
      class="bg-secondary absolute inset-0 right-auto -left-[10px] -z-20 h-full w-full scale-105 lg:[clip-path:_polygon(100%_0,_0%_100%,_100%_100%)]"
    >
    </div>
    <div
      class="absolute inset-0 z-10 h-full w-full lg:top-auto lg:bottom-0 lg:h-1/3 lg:max-w-[1000px] lg:bg-[linear-gradient(90deg,_rgba(255,255,255,0)_0%,_rgba(255,255,255,0)_70%,_hsl(var(--primary))_100%)]"
    >
    </div>
    <Image
      src={background}
      alt="Background"
      class="absolute inset-0 z-0 h-full w-full object-cover object-left lg:top-auto lg:bottom-0 lg:h-1/3 lg:max-w-[1000px] lg:object-cover"
      widths={[320, 576, 640, 768, background.width]}
      sizes={`
        (max-width: 768px) 100vw,
        504px
      `}
      loading={"eager"}
    />
    <Image
      src={foreground}
      alt="Foreground"
      class="relative z-10 m-4 w-full max-w-[450px] lg:absolute lg:left-8 lg:w-[800px] lg:max-w-none"
      widths={[320, 576, 640, 768, 1024, 1280, 1536, foreground.width]}
      sizes={`
        (max-width: 320px) 305px,
        (max-width: 576px) 450px,
        (max-width: 640px) 450px,
        (max-width: 768px) 450px,
        600px
      `}
      loading={"eager"}
    />
  </div>
</header>
