---
import { FORM_BUTTON } from "@/constants/form-button";
import { cn } from "@/lib/utils";
import { type CustomOptions } from "@/pages/index.astro";
import { Image } from "astro:assets";
import Form from "../../../../globals/components/form";
import MainLogo from "../../../../globals/components/logos/MainLogo.astro";
import { showcase } from "../../../../globals/features/showcase/text";
import { type ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import arabicMan from "../assets/arabic-man.png";
import background from "../assets/background.png";
import man from "../assets/man.png";
import CarouselWrapper from "./CarouselWrapper";

interface Props {
  componentProps: ComponentProps<any, CustomOptions>;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Open your ${componentProps.brandObj.name} trading account <span class="text-secondary">in minutes</span>`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `افتح حساب التداول الخاص بك مع ${componentProps.brandObj.name} خلال دقائق`,
  de: ``,
  es: `Abre tu cuenta de trading ${componentProps.brandObj.name} <span class="text-secondary">en minutos</span>`,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const list: {
  title: TranslationsType;
  data: TranslationsType[];
} = {
  title: {
    en: `Diversify your portfolio with access to <span class="font-bold">500+ assets</span>. All on one powerful platform.`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: `نوّع محفظتك بالوصول إلى أكثر من 500 أصل — عبر منصة قوية واحدة.`,
    de: ``,
    es: `Diversifica tu portafolio con acceso a más de <span class="font-bold">500 activos</span>. Todo en una plataforma potente.`,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  data: [
    {
      en: `Trusted by over <span class="font-bold">1M traders world-wide</span>`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `موثوق من أكثر من مليون متداول حول العالم`,
      de: ``,
      es: `Con la confianza de más de <span class="font-bold">1 millón de traders en todo el mundo</span>`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    {
      en: `Fully regulated & <span class="font-bold">secure platform</span>`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `منصة منظمة وآمنة بالكامل`,
      de: ``,
      es: `Plataforma totalmente <span class="font-bold">regulada y segura</span>`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    {
      en: `13+ years of <span class="font-bold">market expertise</span>`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `أكثر من 13 سنة من الخبرة في السوق`,
      de: ``,
      es: `Más de 13 años de <span class="font-bold">experiencia en el mercado</span>`,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  ],
};
---

<header id="header" class="relative overflow-clip">
  <Image
    src={background}
    alt="Background"
    class={cn(
      "absolute inset-0 z-0 h-full w-full object-cover pointer-events-none",
      // componentProps.lang === "ar" ? "scale-[-1] " : "",
    )}
    widths={[320, 576, 640, 768, 1024, 1280, 1536, background.width]}
    sizes={`100vw`}
    loading={"eager"}
  />

  <div class="relative z-10">
    <div class="py-custom-spacing container text-white">
      <MainLogo
        size={componentProps.brandObj.nameToLower}
        logo={componentProps.logo()}
        square={componentProps.customOptions?.logoSquare}
      />
    </div>

    <div class="container flex flex-wrap">
      <div
        class="gap-custom-spacing pb-custom-spacing lg:pb-custom-spacing order-1 flex flex-col justify-center text-white lg:w-8/12 xl:w-5/12"
      >
        <h1
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 5,
              })
            : title[componentProps.lang]}
          class="text-heading1 font-black text-balance uppercase"
        />

        <div class="flex flex-col gap-6">
          <p
            set:html={componentProps.features?.includes(Features.showcase)
              ? showcase({
                  words: 5,
                })
              : list.title[componentProps.lang]}
            class="text-para-lead text-balance"
          />
        </div>
      </div>

      <div
        class="relative order-4 flex w-full items-end justify-center lg:order-2 lg:w-4/12 xl:w-3/12"
      >
        <Image
          src={componentProps.lang === "ar" ? arabicMan : man}
          alt="Man"
          class={cn(
            "pointer-events-none max-lg:max-w-[350px] block w-full h-auto xl:absolute  xl:w-[440px] xl:max-w-none -z-10 scale-x-[-1]",
            componentProps.lang === "ar" ? "xl:-start-10" : "xl:-start-28",
          )}
          widths={[320, 576, 640, 768, 1024, 1280, 1536, man.width]}
          sizes={`
            (max-width: 320px) 273px,
            (max-width: 1023px) 350px,
            (max-width: 1280px) 410px,
            440px
          `}
          loading={"eager"}
        />
      </div>

      <div class="lg:pb-custom-spacing order-2 w-full lg:order-3 xl:w-4/12">
        <div class="flex w-full flex-col bg-white p-4 text-black xl:p-8">
          <Form
            componentProps={componentProps}
            button={componentProps.features?.includes(Features.showcase)
              ? showcase({
                  words: 2,
                })
              : FORM_BUTTON[componentProps.lang]}
            id="section-form"
            layout={2}
          />
        </div>
      </div>

      <div
        class="bg-secondary text-primary relative z-10 order-3 mt-4 w-full max-w-full overflow-clip py-2 shadow-[0_0_0_100vmax_var(--secondary)] [clip-path:inset(0_-100vmax)] lg:order-4 lg:hidden"
      >
        <CarouselWrapper
          slides={list.data}
          lang={componentProps.lang}
          client:load
        />
      </div>
    </div>

    <div
      class="bg-secondary text-primary relative z-10 hidden overflow-hidden py-2 lg:block"
    >
      <div class="container">
        <CarouselWrapper
          slides={list.data}
          lang={componentProps.lang}
          client:load
        />
      </div>
    </div>
  </div>

</header>

<style lang="scss" is:global>
  @reference "../styles/global.css";

  form.registerForm {
    input,
    select {
      @apply text-slate-800;
    }
    input[disabled] {
      // color: white;
    }

    .form-control {
      label {
        font-size: 1rem;
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      select {
        // @apply h-12 text-black;
        &:hover {
        }
        &:focus {
        }
        &::placeholder {
        }
      }
      button {
        @apply bg-accent hover:bg-primary text-lg !font-black uppercase;
      }
    }
  }
</style>
