---
import type { CustomOptions } from "@/pages/index.astro";
import { Image } from "astro:assets";
import Form from "../../../../globals/components/form";
import MainLogo from "../../../../globals/components/logos/MainLogo.astro";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import arrrow from "../assets/arrow.png";
import bitcoinGuy from "../assets/bitcoin.png";
import background from "../assets/header.jpg";
import graphBackground from "../assets/header_graph.png";

interface Props {
  componentProps: ComponentProps<any, CustomOptions>;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: "",
  it: "Trading di CFD su Bitcoin",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: "",
  pt: "",
  fi: "",
  pl: "Handel kontraktami CFD na Bitcoina",
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const para: TranslationsType = {
  en: "",
  it: "Sei interessato a saperne di più sul trading di CFD su Bitcoin?",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: "",
  pt: "",
  fi: "",
  pl: "Chcesz dowiedzieć się więcej o handlu kontraktami CFD na Bitcoin?",
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const formButton: TranslationsType = {
  en: "",
  it: "Scopri di più",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: "",
  pt: "",
  fi: "",
  pl: "Odkryj więcej",
  hu: "",
  th: "",
  ms: "",
  vi: "",
};
---

<header
  id="header"
  class="relative overflow-hidden pb-6 md:pb-8 xl:pb-12 2xl:pb-20"
>
  <Image
    src={background}
    alt="Main Background"
    class="absolute top-0 left-0 z-0 h-full w-full object-cover object-left"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, background.width]}
    sizes={`100vw`}
  />
  <div class="relative z-30 container flex flex-col gap-4 md:gap-6 lg:gap-8">
    <div class="py-4">
      <MainLogo
        size={componentProps.brandObj.nameToLower}
        logo={componentProps.logo()}
        square={componentProps.customOptions?.logoSquare}
      />
    </div>
    <div class="lg:flex lg:max-w-[83.333333%] lg:gap-4">
      <div class="hidden items-start justify-center lg:flex">
        <Image
          src={arrrow}
          alt="Arrow"
          class="mt-14 h-auto w-12"
          widths={[arrrow.width]}
          sizes={`
            (max-width: 1023px) 0px,
            45px
          `}
        />
      </div>
      <div class="flex grow flex-col gap-4 md:gap-6">
        <div>
          <h1
            class="font-raleway text-heading1 font-extrabold"
            set:html={title[componentProps.lang]}
          />
          <p class="text-sm font-bold" set:html={para[componentProps.lang]} />
        </div>
        <div class="bg-primary text-primary-foreground rounded-md p-2">
          <Form
            componentProps={componentProps}
            button={formButton[componentProps.lang]}
            id="form1"
            layout={2}
          />
        </div>
      </div>
    </div>
  </div>
  <Image
    src={bitcoinGuy}
    alt="Graph presentation"
    class="absolute -top-32 -right-32 z-10 hidden h-auto w-[800px] object-cover object-left lg:block xl:right-0"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, bitcoinGuy.width]}
    sizes={`100vw`}
  />
  <Image
    src={graphBackground}
    alt="Graph presentation"
    class="absolute right-0 bottom-0 left-0 z-20 h-auto w-full object-cover object-left"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, graphBackground.width]}
    sizes={`100vw`}
  />
</header>

<style lang="scss" is:global>
  @reference "../styles/global.css";
  form.registerForm {
    .form-control {
      label {
      }
      input[type="text"],
      input[type="email"],
      input[type="tel"],
      select {
        // border: medium none;
        // max-width: 100%;
        // padding: 5px 15px;
        // transition: 350ms;
        // width: 100%;

        @apply h-12 text-black;
        &:hover {
        }
        &:focus {
        }
        &::placeholder {
        }
      }
      button {
        @apply bg-secondary text-secondary-foreground hover:bg-primary hover:text-primary-foreground flex h-12 gap-4 uppercase;
      }
    }
  }
</style>
