---
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import bg from "../assets/bg-desktop.jpg";
import companyLogos from "../assets/company_logos.png";
import { Button } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Big news to share!`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const para: TranslationsType = {
  en: `${componentProps.brandObj.name} makes investing more accessible and easier to understand, by launching <span class="text-secondary">Stocks</span>, meaning that you can invest in some of the largest US companies directly from your ${componentProps.brandObj.name} account.`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const buttonLabel: TranslationsType = {
  en: `Start Trading Now!`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section class="relative overflow-clip">
  <Image
    src={bg}
    alt="Background"
    class="absolute inset-0 z-0 h-full w-full object-cover object-left md:object-center"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, bg.width]}
    sizes={`
      (max-width: 320px) 576px,
      (max-width: 576px) 640px,
      (max-width: 640px) 768px,
      (max-width: 768px) 1024px,
      (max-width: 1024px) 1280px,
      (max-width: 1280px) 1536px,
      100vw
    `}
  />
  <div
    class="text-background relative z-10 container flex flex-col items-center justify-center gap-4 py-8 text-center md:items-start md:gap-10 md:py-12 md:text-start lg:py-16"
  >
    <div
      class="bg-secondary absolute top-0 -right-[10000px] z-0 hidden h-full w-[10000px] lg:-right-[9880px] lg:block xl:-right-[9770px]"
    >
    </div>
    <h1
      class="text-heading1 text-secondary font-bold uppercase italic"
      set:html={title[componentProps.lang]}
    />
    <p
      class="text-para-lead max-w-[33ch] text-balance"
      set:html={para[componentProps.lang]}
    />

    <ButtonDisclaimer
      componentProps={componentProps}
      disclaimer={{
        active: true,
      }}
    >
      <Button
        variant="secondary"
        className={cn(
          "js-modal-trigger h-auto w-full max-w-full cursor-pointer px-4 py-2 text-sm font-black whitespace-normal md:text-lg",
        )}
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 2,
            })
          : buttonLabel[componentProps.lang]}
      />
    </ButtonDisclaimer>

    <Image
      src={companyLogos}
      alt="Background"
      class="z-20 md:absolute md:-right-[300px] lg:-right-[200px] xl:-right-[100px]"
      widths={[320, 576, companyLogos.width]}
      sizes={`
        (max-width: 320px) 320px,
        576px
      `}
    />
  </div>
</section>

<style lang="scss">
  @reference "../styles/global.css";
  .container {
    &::before,
    &::after {
      @apply absolute top-0 bottom-0 left-auto hidden h-full w-[250px] md:block;
      -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0% 50%);
      clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%, 0% 50%);
      content: "";
    }

    &::before {
      @apply bg-secondary z-[2] md:-right-[5px] lg:right-[120px] xl:right-[220px];
    }
    &::after {
      @apply bg-background right-0 z-[1] lg:right-[125px] xl:right-[225px];
    }
  }
</style>
