---
import { Navbar } from "@/components/navbar";
import type { MenuItem } from "@/types/menu-items";
import MainLogo from "../../../../globals/components/logos/MainLogo.astro";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { CustomOptions } from "../pages/index.astro";

interface Props {
  componentProps: ComponentProps<any, CustomOptions>;
}
const { componentProps } = Astro.props;

const menuItems: MenuItem[] = [
  {
    label: {
      en: `Home`,
      it: `Home`,
      tr: `Ana Sayfa`,
      ro: `Acasă`,
      ar: `الرئيسية`,
      de: `Startseite`,
      es: `Inicio`,
      sv: `Hem`,
      pt: `Início`,
      fi: `Etusivu`,
      pl: `Strona główna`,
      hu: `Főoldal`,
      th: `หน้าแรก`,
      ms: `Laman Utama`,
      vi: `Trang chủ`,
    },
    scrollTo: "#home",
  },
  {
    label: {
      en: `About`,
      it: `Chi siamo`,
      tr: `Hakkımızda`,
      ro: `Despre`,
      ar: `من نحن`,
      de: `Über uns`,
      es: `Sobre nosotros`,
      sv: `Om oss`,
      pt: `Sobre`,
      fi: `Tietoa meistä`,
      pl: `O nas`,
      hu: `Rólunk`,
      th: `เกี่ยวกับ`,
      ms: `Mengenai`,
      vi: `Giới thiệu`,
    },
    scrollTo: "#about",
  },
  {
    label: {
      en: `Courses`,
      it: `Corsi`,
      tr: `Kurslar`,
      ro: `Cursuri`,
      ar: `الدورات`,
      de: `Kurse`,
      es: `Cursos`,
      sv: `Kurser`,
      pt: `Cursos`,
      fi: `Kurssit`,
      pl: `Kursy`,
      hu: `Tanfolyamok`,
      th: `คอร์สเรียน`,
      ms: `Kursus`,
      vi: `Khoá học`,
    },
    scrollTo: "#courses",
  },
  {
    label: {
      en: `Webinars`,
      it: `Webinar`,
      tr: `Web Seminerleri`,
      ro: `Webinarii`,
      ar: `الندوات عبر الإنترنت`,
      de: `Webinare`,
      es: `Seminarios web`,
      sv: `Webbinarier`,
      pt: `Webinars`,
      fi: `Webinaarit`,
      pl: `Webinaria`,
      hu: `Webináriumok`,
      th: `สัมมนาออนไลน์`,
      ms: `Webinar`,
      vi: `Hội thảo trực tuyến`,
    },
    scrollTo: "#webinars",
  },
  {
    label: {
      en: `Testimonials`,
      it: `Testimonianze`,
      tr: `Görüşler`,
      ro: `Testimoniale`,
      ar: `آراء العملاء`,
      de: `Erfahrungsberichte`,
      es: `Testimonios`,
      sv: `Omdömen`,
      pt: `Depoimentos`,
      fi: `Asiakaspalautteet`,
      pl: `Referencje`,
      hu: `Visszajelzések`,
      th: `คำรับรอง`,
      ms: `Testimoni`,
      vi: `Lời chứng thực`,
    },
    scrollTo: "#testimonials",
  },
];
---

<header class="text bg-primary text-primary-foreground py-4">
  <div class="container flex flex-wrap items-center justify-between">
    <MainLogo
      size={componentProps.brandObj.nameToLower}
      logo={componentProps.logo()}
      square={componentProps.customOptions?.logoSquare}
    />
    <Navbar componentProps={componentProps} menuItems={menuItems} client:load />
  </div>
</header>
