---
import { Image } from "astro:assets";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import heroImage from "../assets/hero-img.png";
import { Button } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Blending knowledge, technology, and mentorship for your <span class="bg-accent leading-normal p-1 rounded-md">trading success</span>`,
  it: `Fusione di conoscenza, tecnologia e mentorship per il tuo <span class="bg-accent leading-normal p-1 rounded-md">successo nel trading</span>`,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const paras: TranslationsType[] = [
  {
    en: `Welcome to ${componentProps.brandObj.name}, where innovation meets tradition. Our academy combines the latest global trading technologies with the personal touch of Italian mentorship. `,
    it: `Benvenuto in ${componentProps.brandObj.name}, dove l'innovazione incontra la tradizione. La nostra accademia unisce le più recenti tecnologie di trading globali con il tocco personale della mentorship italiana.`,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  {
    en: `Join us to master the markets with confidence, supported by teachers who care about your growth and success.`,
    it: `Unisciti a noi per padroneggiare i mercati con sicurezza, supportato da insegnanti che si prendono cura della tua crescita e del tuo successo.`,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
];

const buttonLabel: TranslationsType = {
  en: `Enroll now`,
  it: `Iscriviti ora`,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section id="home" class="section1 overflow-hidden pt-8 lg:py-16">
  <div class="container flex flex-col gap-1 lg:flex-row">
    <div
      class="flex flex-col items-start justify-center gap-8 lg:max-w-[70ch] xl:max-w-[80ch]"
    >
      <h1
        set:html={title[componentProps.lang]}
        class="text-heading1 leading-heading1 font-extrabold text-balance uppercase"
      />
      {
        paras.map((para) => (
          <p
            set:html={para[componentProps.lang]}
            class="text-para-lead text-balance"
          />
        ))
      }

      <ButtonDisclaimer
        componentProps={componentProps}
        disclaimer={{
          active: false,
        }}
      >
        <Button
          variant={"secondary"}
          className={"js-modal-trigger h-auto cursor-pointer gap-4 px-16 py-4 text-lg font-bold text-white uppercase md:px-20 md:py-6 lg:text-2xl"}
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 2,
              })
            : buttonLabel[componentProps.lang]}
        />
      </ButtonDisclaimer>
    </div>
    <div class="relative grow">
      <Image
        src={heroImage}
        alt="Background"
        class="-mb-20 w-full max-w-[350px] lg:absolute lg:-bottom-12 lg:h-[560px] lg:w-auto lg:max-w-none xl:-start-28 xl:-bottom-48 xl:h-[730px]"
        widths={[320, 576, 640, 768, 1024, 1280, 1536, heroImage.width]}
        sizes={`
        (max-width: 640px) 640px,
        100vw
      `}
      />
    </div>
  </div>
</section>
