---
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Image } from "astro:assets";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import arabMan from "../assets/laptopdude-ar.png";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Choose your educational package`,
  it: `Scegli il tuo pacchetto educativo`,
  tr: `Eğitim paketini seçin`,
  ro: `Alege pachetul educațional`,
  ar: `اختر حزمتك التعليمية`,
  de: `Wähle dein Bildungspaket`,
  es: `Elige tu paquete educativo`,
  sv: `Välj ditt utbildningspaket`,
  pt: `Escolha seu pacote educacional`,
  fi: `Valitse koulutuspakettisi`,
  pl: `Wybierz swój pakiet edukacyjny`,
  hu: `Válassza ki oktatási csomagját`,
  th: `เลือกแพ็กเกจการศึกษา`,
  ms: `Pilih pakej pendidikan anda`,
  vi: `Chọn gói đào tạo của bạn`,
};

const card: {
  title: TranslationsType;
  para: TranslationsType;
  list: TranslationsType[];
  price: TranslationsType;
} = {
  title: {
    en: ``,
    it: ``,
    tr: ``,
    ro: ``,
    ar: `الباقة الخاصة VIP`,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  para: {
    en: ``,
    it: ``,
    tr: ``,
    ro: ``,
    ar: `دعم شامل للمتداولين الطموحين وذوي الخبرة المتقدمة:`,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  list: [
    {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `ندوات غير محدودة`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `إشارات تداول يومية`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `تحرّكات السوق في الوقت الفعلي وتنبيهات فورية`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `ندوات حصرية لكبار الشخصيات (VIP)`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `دعم عبر البريد الإلكتروني والدردشة مع أولوية`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `أولوية الوصول إلى الأدوات والتحليلات الجديدة`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `جلسة مخصصة لوضع استراتيجية تداول شخصية`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    {
      en: ``,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `الوصول إلى تطبيق Khan Academy`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  ],
  price: {
    en: ``,
    it: ``,
    tr: ``,
    ro: ``,
    ar: `499 دولارًا شهريًا`,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
};

const cta: TranslationsType = {
  en: ``,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `هل أنت مستعد للاستثمار في مهاراتك؟`,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section id="testimonials" class="relative py-8 lg:py-16">
  <div class="relative z-10 container flex flex-col gap-1 lg:flex-row">
    <div class="flex w-full flex-col items-start justify-center gap-8">
      <h2
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 5,
            })
          : title[componentProps.lang]}
        class="text-heading2 leading-heading2 text-primary font-extrabold text-balance uppercase"
      />

      <div class="flex w-full flex-wrap items-stretch gap-8">
        <Card className="grow overflow-clip">
          <CardHeader>
            <CardTitle className="text-heading3">
              {card.title[componentProps.lang]}
            </CardTitle>
            <CardDescription>
              {card.para[componentProps.lang]}
            </CardDescription>
          </CardHeader>
          <CardContent className="relative my-auto flex">
            <ol class="list-inside list-disc">
              {
                card.list.map((li) => (
                  <li
                    set:html={li[componentProps.lang]}
                    class="text-para-lead"
                  />
                ))
              }
            </ol>
            <Image
              src={arabMan}
              alt="Background"
              class="absolute end-0 -bottom-28 hidden w-full max-w-[450px] lg:block xl:h-[500px] xl:w-auto xl:max-w-none"
              widths={[320, 576, 640, 768, 1024, 1280, 1536, arabMan.width]}
              sizes={`
                (max-width: 640px) 640px,
                100vw
              `}
            />
          </CardContent>
          <CardFooter className="mt-auto items-center justify-start">
            <p
              set:html={card.price[componentProps.lang]}
              class="text-para-lead text-primary font-bold"
            />
          </CardFooter>
        </Card>
      </div>

      <p set:html={cta[componentProps.lang]} class="text-para-lead font-bold" />
      <div class="flex w-full flex-wrap items-center justify-between gap-4">
        <div>
          <a
            href=" https://play.google.com/store/apps/details?id=org.khanacademy.android&pcampaignid=web_share"
            target={"_blank"}
          >
            <img
              data-src="https://assets.smartsupporthub.com/images/site/footer/google-play.png"
              alt="Google Play"
              width="170"
              height="55"
              src="https://assets.smartsupporthub.com/images/site/footer/google-play.png"
              class="img-fluid lazyloaded"
              style="--smush-placeholder-width: 120px; --smush-placeholder-aspect-ratio: 120/36;"
            />
          </a>

          <a
            href="https://apps.apple.com/ro/app/khan-academy/id469863705"
            target={"_blank"}
          >
            <img
              data-src="https://assets.smartsupporthub.com/images/site/footer/apple-icon-1.png"
              alt="Apple Store"
              width="170"
              height="55"
              src="https://assets.smartsupporthub.com/images/site/footer/apple-icon-1.png"
              class="img-fluid lazyloaded"
              style="--smush-placeholder-width: 120px; --smush-placeholder-aspect-ratio: 120/36;"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss" is:global>
  @reference "../styles/global.css";
</style>
