---
import { buttonDisclaimer } from "@/constants/button-disclimer";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import MainLogo from "../../../../globals/components/logos/MainLogo.astro";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import bg from "../assets/topbg-desktop.jpg";
import { Button } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Whether you want to invest in the stock market or just learn, ${componentProps.brandObj.name} is a great place to start!`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const para: TranslationsType = {
  en: `${componentProps.brandObj.name} brings you a variety of the biggest US brands at your fingertips, so you can choose between the most popular shares and invest on them.`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const buttonLabel: TranslationsType = {
  en: `Start trading shares`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const bottomList: TranslationsType[] = [
  {
    en: `Choose your favorite <span class="text-secondary">company</span>`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  {
    en: `Select how much to <span class="text-secondary">invest</span>`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  {
    en: `Get your <span class="text-secondary">shares</span>`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: ``,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
];
---

<header class="relative py-4 sm:py-7 md:py-9 lg:py-10 xl:py-12">
  <Image
    src={bg}
    alt="Background"
    class="absolute inset-0 z-0 h-full w-full object-cover object-left md:object-center"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, bg.width]}
    sizes={`
      (max-width: 320px) 576px,
      (max-width: 576px) 640px,
      (max-width: 640px) 768px,
      (max-width: 768px) 1024px,
      (max-width: 1024px) 1280px,
      (max-width: 1280px) 1536px,
      100vw
    `}
  />
  <div class="text-background relative z-10">
    <div class="py-4">
      <div class="container">
        <MainLogo
          size={componentProps.brandObj.nameToLower}
          logo={componentProps.logo()}
          square={componentProps.customOptions?.logoSquare}
        />
      </div>
    </div>
    <div class="py-4 sm:py-7 md:py-9 lg:py-10 xl:py-12">
      <div class="container text-center md:text-start">
        <div
          class="flex max-w-[70ch] flex-col items-center gap-4 md:items-start md:gap-7 lg:gap-10 xl:gap-12"
        >
          <h1
            class="text-heading1 text-secondary font-black text-balance uppercase"
            set:html={title[componentProps.lang]}
          />
          <p
            class="text-para-lead text-balance"
            set:html={para[componentProps.lang]}
          />

          <ButtonDisclaimer
            componentProps={componentProps}
            disclaimer={{
              active: true,
              text: buttonDisclaimer[componentProps.lang],
            }}
          >
            <Button
              variant="secondary"
              className={cn(
                "js-modal-trigger h-auto w-full max-w-full cursor-pointer px-8 py-2 text-lg font-bold whitespace-normal md:text-2xl",
              )}
              set:html={componentProps.features?.includes(Features.showcase)
                ? showcase({
                    words: 2,
                  })
                : buttonLabel[componentProps.lang]}
            />
          </ButtonDisclaimer>
        </div>
      </div>
    </div>
    <div class="mt-6 bg-gray-200/30 py-2 lg:mt-32">
      <div class="container">
        <ul
          class="text-para-lead flex list-inside list-disc flex-wrap items-center justify-around gap-x-6 gap-y-2 text-center font-black"
        >
          {bottomList.map((li) => <li set:html={li[componentProps.lang]} />)}
        </ul>
      </div>
    </div>
  </div>
</header>

<style define:vars={{}}></style>
