---
import Form from "../../../../globals/components/form";
import { showcase } from "../../../../globals/features/showcase/text";
import { glossaryLetter_S } from "../../../../globals/translations/glossary";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { Button } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Take the first step toward smarter investing.`,
  it: "",
  tr: "",
  ro: "",
  ar: `اتخذ الخطوة الأولى نحو استثمار أكثر ذكاءً`,
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const para: TranslationsType = {
  en: `Fill out the form and one of our ${componentProps.brandObj.name} experts will contact you to help you get started. Whether you're new to trading or looking to take your investments to the next level, we’re here to support your journey with trusted tools and insights. Start now and take control of your financial future!`,
  it: "",
  tr: "",
  ro: "",
  ar: `قم بملء النموذج وسيتواصل معك أحد خبراء ${componentProps.brandObj.name} لمساعدتك على البدء. سواء كنت جديدًا في عالم التداول أو تسعى للارتقاء باستثماراتك إلى المستوى التالي، نحن هنا لدعمك من خلال أدوات موثوقة ورؤى دقيقة. ابدأ الآن وسيطر على مستقبلك المالي!`,
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};

const formBtn: TranslationsType = {
  en: `Join`,
  it: "",
  tr: "",
  ro: "",
  ar: "إنضم الآن",
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};
---

<section id="section1" class="section1 py-headerY">
  <div class="container space-y-4">
    <h1
      class="text-heading1 text-center font-black text-balance uppercase"
      set:html={title[componentProps.lang]}
    />
    <p class="text-center text-balance" set:html={para[componentProps.lang]} />
    <Form
      componentProps={componentProps}
      button={formBtn[componentProps.lang]}
      id="bottom-form"
      layout={1}
    />
  </div>
</section>

<style lang="scss" is:global>
  @reference "../styles/global.css";

  form.registerForm {
    max-width: 600px;
    margin-inline: auto;
    .registerFormInner {
      .form-control {
        label {
          // @apply text-white;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select {
          &:hover {
          }
          &:focus {
          }
          &::placeholder {
          }
          @apply h-auto bg-zinc-200 px-8 py-4;
        }

        .phone {
          direction: ltr;
          display: flex;
          [type="text"] {
            max-width: 115px;
            border-right: 1px solid var(--clr-gray-100);
            border-end-end-radius: 0;
            border-start-end-radius: 0;
          }
          [type="tel"] {
            border-start-start-radius: 0;
            border-end-start-radius: 0;
          }
        }
        button {
          @apply h-auto px-8 py-4 text-[1.5rem] font-black;
        }
      }
    }
  }
</style>
