---
import Section1Default from "@/components/default/Section1.astro";
import Section2Default from "@/components/default/Section2.astro";
import Section3Default from "@/components/default/Section3.astro";
import Section4Default from "@/components/default/Section4.astro";
import Section5Default from "@/components/default/Section5.astro";
import Section6Default from "@/components/default/Section6.astro";
import Section1V1 from "@/components/v1/Section1.astro";
import Section2V1 from "@/components/v1/Section2.astro";
import Section3V1 from "@/components/v1/Section3.astro";
import Section4V1 from "@/components/v1/Section4.astro";
import Section5V1 from "@/components/v1/Section5.astro";
import Section6V1 from "@/components/v1/Section6.astro";
import Section7V1 from "@/components/v1/Section7.astro";
import { brandFactory } from "../../../../globals/factory";
import { type TradersProfilerSVGVariation } from "../../../../globals/types/brands/logo";
import type { ComponentProps } from "../../../../globals/types/component-props";
// import { Features } from "../../../../globals/types/enums";
import type {
  LandingPageType,
  LicenseType,
  RegistrationType,
} from "../../../../globals/types/lp-params-type";
import { checkFeatures } from "../../../../globals/utils/check-features";
import Layout from "../layouts/Layout.astro";

const license: LicenseType = "fsa";
const lpType: LandingPageType = "classic";
const features = checkFeatures([
  // Features.readyForMail,
  // Features.outbrain,
  // Features.atheneum,
]);
const registrationType: RegistrationType = "classic";

export interface CustomOptions {
  logoSquare: boolean;
  version?: "default" | "v1";
}

const componentProps: ComponentProps<
  TradersProfilerSVGVariation,
  CustomOptions
> = {
  lang: "en",
  license,
  lpName: "Privacy Policy",
  brandObj: brandFactory({
    brand: "tradersprofiler",
    license,
    whatsapp: false,
    features,
  }),
  logo: function () {
    return this.brandObj.images.logoSVG.default;
  },
  lpType,
  registrationType,
  customOptions: {
    logoSquare: false,
    version: "v1",
  },
  features,
  // fxoroFooter: true,
};
---

<Layout componentProps={componentProps}>
  <div class="space-y-6 py-6">
    {
      (componentProps.customOptions?.version === "default" ||
        componentProps.customOptions?.version === undefined) && (
        <>
          <Section1Default componentProps={componentProps} />
          <Section2Default componentProps={componentProps} />
          <Section3Default componentProps={componentProps} />
          <Section4Default componentProps={componentProps} />
          <Section5Default componentProps={componentProps} />
          <Section6Default componentProps={componentProps} />
        </>
      )
    }
    {
      componentProps.customOptions?.version === "v1" && (
        <>
          <Section1V1 componentProps={componentProps} />
          <Section2V1 componentProps={componentProps} />
          <Section3V1 componentProps={componentProps} />
          <Section4V1 componentProps={componentProps} />
          <Section5V1 componentProps={componentProps} />
          <Section6V1 componentProps={componentProps} />
          <Section7V1 componentProps={componentProps} />
        </>
      )
    }
  </div>
</Layout>
