---
import { icon1 } from "@/constants/icon1";
import { icon2 } from "@/constants/icon2";
import { icon3 } from "@/constants/icon3";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Take your trading to the next level`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const articles: {
  icon: string;
  title: TranslationsType;
  para: TranslationsType;
}[] = [
  {
    icon: icon1,
    title: {
      en: `Sign up`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `Complete the form on this page to get started with ${componentProps.brandObj.name}.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    icon: icon2,
    title: {
      en: `Personalized guidance`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `Speak with a representative to define and achieve your trading goals.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    icon: icon3,
    title: {
      en: `Tailored resources`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `Access expert tools, tips, and support designed for your trading success.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: ``,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
];
---

<section id="section1" class="section1 space-y-ySpacing py-ySpacing">
  <div class="container">
    <h2
      class="text-heading2 leading-heading2 font-black uppercase sm:text-center"
      set:html={title[componentProps.lang]}
    />
  </div>
  <div
    class="gap-custom container flex flex-col sm:text-center md:flex-row md:justify-between"
  >
    {
      articles.map((article) => (
        <article class="flex flex-col gap-2">
          <div
            class="size-14 self-center lg:size-16 [&>svg]:h-full [&>svg]:w-full"
            set:html={article.icon}
          />
          <h3
            class="text-heading3 leading-heading3 text-primary font-black"
            set:html={article.title[componentProps.lang]}
          />
          <p
            class="text-paras lg:max-w-[25ch]"
            set:html={article.para[componentProps.lang]}
          />
        </article>
      ))
    }
  </div>
</section>
