---
import { ICON_1, ICON_2, ICON_3, ICON_4, ICON_5 } from "@/constants/icons";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: `${componentProps.brandObj.name} gives you access to Dubai’s growth`,
      it: "",
      tr: "",
      ro: "",
      ar: `${componentProps.brandObj.name} يمنحك الوصول إلى نمو دبي`,
      de: "",
      es: `${componentProps.brandObj.name} te da acceso al crecimiento de Dubái`,
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const para: TranslationsType = textBy(
  {
    default: {
      en: `While most brokers limit your options, ${componentProps.brandObj.name} opens the door to one of the region’s most dynamic areas - the Dubai Index`,
      it: "",
      tr: "",
      ro: "",
      ar: `بينما يقيّد معظم الوسطاء خياراتك، فإن ${componentProps.brandObj.name} تفتح لك الباب إلى واحدة من أكثر المناطق ديناميكية في المنطقة - مؤشر دبي.`,
      de: "",
      es: `Mientras que la mayoría de los corredores limitan tus opciones, ${componentProps.brandObj.name} te abre la puerta a una de las áreas más dinámicas de la región: el Índice de Dubái.`,
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const bullets: {
  icon: string;
  title: TranslationsType;
}[] = [
  {
    icon: ICON_1,
    title: textBy(
      {
        default: {
          en: "Trade top-performing Dubai-listed instruments like EMAAR, DIB, and more",
          it: "",
          tr: "",
          ro: "",
          ar: "تداول أفضل الأدوات المدرجة في دبي مثل EMAAR وDIB والمزيد",
          de: "",
          es: "Opera con los instrumentos más destacados de Dubái como EMAAR, DIB y más",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: "",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
  },
  {
    icon: ICON_2,
    title: textBy(
      {
        default: {
          en: "Gain exposure to UAE’s real estate and financial sector growth",
          it: "",
          tr: "",
          ro: "",
          ar: "احصل على تعرض لنمو القطاع العقاري والمالي في الإمارات",
          de: "",
          es: "Obtén exposición al crecimiento del sector inmobiliario y financiero de los EAU",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: "",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
  },
  {
    icon: ICON_3,
    title: textBy(
      {
        default: {
          en: "Trade on any device — mobile and web",
          it: "",
          tr: "",
          ro: "",
          ar: "تداول على أي جهاز — الهاتف أو الويب",
          de: "",
          es: "Opera en cualquier dispositivo — móvil y web",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: "",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
  },
  {
    icon: ICON_4,
    title: textBy(
      {
        default: {
          en: "Get support from Arabic-speaking account managers",
          it: "",
          tr: "",
          ro: "",
          ar: "دعم من مديري حسابات ناطقين بالعربية",
          de: "",
          es: "Soporte de gestores de cuentas que hablan árabe",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: "",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
  },
  {
    icon: ICON_5,
    title: textBy(
      {
        default: {
          en: "Start trading with a regulated, trusted broker",
          it: "",
          tr: "",
          ro: "",
          ar: "ابدأ التداول مع وسيط منظم وموثوق",
          de: "",
          es: "Comienza a operar con un broker regulado y de confianza",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        cysec: {
          en: "",
          it: "",
          tr: "",
          ro: "",
          ar: "",
          de: "",
          es: "",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
      "license",
      componentProps,
    ),
  },
];
---

<section
  id="section3"
  class="section3 pb-custom-spacing bg-primary text-primary-foreground py-custom-spacing"
>
  <div class="space-y-custom-spacing container">
    <h2
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 5,
          })
        : title[componentProps.lang]}
      class="text-heading2 text-start font-black text-balance uppercase lg:text-center"
    />
    <p
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 5,
          })
        : para[componentProps.lang]}
      class="text-custom-size-1 text-start text-balance lg:text-center"
    />
    <div class="flex flex-wrap items-start justify-around gap-6">
      {
        bullets.map((bullet) => (
          <div class="flex flex-col items-center gap-2">
            <div
              set:html={bullet.icon}
              class="size-[73px] min-w-[73px] lg:size-[103px] lg:min-w-[103px] [&_svg]:h-full [&_svg]:w-full"
            />
            <p
              set:html={bullet.title[componentProps.lang]}
              class="text-custom-size-2 max-w-[15ch] text-center"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
