---
import Section1Brand from "@/components/brand/Section1.astro";
import Section1Default from "@/components/default/Section1.astro";
import Section1V1 from "@/components/v1/Section1.astro";
import { brandFactory } from "../../../../globals/factory";
import { type TradeNavigatorSVGVariation } from "../../../../globals/types/brands/logo";
import type { BrandsNames } from "../../../../globals/types/brands/names";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type {
  LandingPageType,
  LicenseType,
  RegistrationType,
} from "../../../../globals/types/lp-params-type";
import type {
  Languages,
  TranslationsType,
} from "../../../../globals/types/translations";
import { checkFeatures } from "../../../../globals/utils/check-features";
import { fxoroFooter as fxoroFooterFn } from "../../../../globals/utils/fxoro-footer";
import Layout from "../layouts/Layout.astro";

export interface CustomOptions {
  logoSquare: boolean;
  designVersion?: "v1" | "brand";
}

/**
 * Landing page's main variables
 */
type Logo = TradeNavigatorSVGVariation;
const brand: BrandsNames = "trade-navigator";
const lpName = "";
const metaDescription: TranslationsType = {
  en: "",
  it: "",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: "",
  pt: "",
  fi: "",
  pl: "",
  hu: "",
  th: "",
  ms: "",
  vi: "",
};
const lang: Languages = "es";
const license: LicenseType = "fsa";
const lpType: LandingPageType = "classic";
const features = checkFeatures([
  // Features.showcase,
  // Features.readyForMail,
  Features.outbrain,
  // Features.atheneum,
  // Features.officialTerms,
  Features.policyInFooter,
]);
const registrationType: RegistrationType = "classic";
const whatsapp = false;
const fxoroFooter: boolean = false;
const drThankYou: boolean = false;
const customOptions: CustomOptions = {
  logoSquare: false,
  designVersion: "brand",
};
// ===============================

const componentProps: ComponentProps<Logo, CustomOptions> = {
  lang,
  license,
  lpName,
  brandObj: brandFactory({
    brand,
    license,
    whatsapp,
    features,
    drThankYou,
  }),
  logo: function () {
    return this.brandObj.images.logoSVG.default;
  },
  lpType,
  registrationType,
  customOptions,
  features,
  fxoroFooter: fxoroFooterFn(brand, fxoroFooter),
};
---

<Layout componentProps={componentProps} metaDescription={metaDescription}>
  {
    componentProps.customOptions?.designVersion === undefined && (
      <div class="grid h-full place-items-center">
        <Section1Default componentProps={componentProps} />
      </div>
    )
  }

  {
    componentProps.customOptions?.designVersion === "v1" && (
      <Section1V1 componentProps={componentProps} />
    )
  }

  {
    componentProps.customOptions?.designVersion === "brand" && (
      <Section1Brand componentProps={componentProps} />
    )
  }
</Layout>
