---
import Aside from "@/components/aside/index.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@fontsource-variable/montserrat";
import { Image } from "astro:assets";
import type { ComponentProps } from "../../../../globals/types/component-props";
import bg from "../assets/bgleft.png";
import "../styles/global.css";

interface Props {
  componentProps: ComponentProps;
}

const { componentProps } = Astro.props;

const lang = componentProps.lang as keyof typeof componentProps.brandObj.typage;
---

<!doctype html>
<html
  lang={lang}
  dir={lang === "ar" ? "rtl" : "ltr"}
  data-design="esmon"
  data-brandname={componentProps.brandObj.name}
  data-features={componentProps.features?.join(", ")}
  data-license={componentProps.license}
  data-lptype={componentProps.lpType}
  data-registrationtype={componentProps.registrationType}
  data-recaptchasitekey={componentProps.brandObj.recaptchaKey}
  data-typage={componentProps.brandObj.typage[lang]}
  data-openwa={componentProps.brandObj.whatsapp && "true"}
  data-wanumber={componentProps.brandObj.whatsapp
    ? componentProps.brandObj.whatsappNumber[lang]
    : false}
>
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={componentProps.brandObj.images.faviconLink}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{componentProps.lpName} | {componentProps.brandObj.name}</title>
    <style>
      html {
        scroll-behavior: smooth;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      body {
        font-family: "Montserrat Variable", sans-serif;
      }
    </style>
  </head>
  <body>
    <div
      id="site-wrapper"
      class="grid lg:grid-cols-[50%_50%] xl:grid-cols-[70%_30%]"
    >
      <main class="relative flex min-h-dvh flex-col">
        <Image
          src={bg}
          alt="Background pattern"
          class="pointer-events-none absolute inset-0 z-0 block h-full w-full object-cover"
          widths={[320, 576, 640, 768, 1024, 1280, 1536, bg.width]}
          sizes={`100vw`}
        />
        <Header componentProps={componentProps} />
        <slot />
      </main>
      <Aside componentProps={componentProps} />
    </div>
    <Footer componentProps={componentProps} />

    <script
      type="module"
      src="https://assets.smartsupporthub.com/js/bundle/astro_lp_v2.js"
      is:inline></script>
  </body>
</html>

<style>
  /* main {
    min-height: 100vh;
  } */
</style>
