---
import type { InfoSection } from "@/types/InfoSection";
import type { ComponentProps } from "../../../../../globals/types/component-props";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const infoSection5: InfoSection = {
  title: {
    en: "Disclosure of information to third parties",
    it: "Divulgazione delle informazioni a terzi",
    tr: "Bilgilerin üçüncü taraflara açıklanması",
    ro: "Dezvăluirea informațiilor către terți",
    ar: "الإفصاح عن المعلومات لأطراف ثالثة",
    de: "Weitergabe von Informationen an Dritte",
    es: "Divulgación de información a terceros",
    sv: "Utlämnande av information till tredje part",
    pt: "Divulgação de informações a terceiros",
    fi: "Tietojen luovuttaminen kolmansille osapuolille",
    pl: "Ujawnianie informacji stronom trzecim",
    hu: "Információk továbbadása harmadik feleknek",
    th: "การเปิดเผยข้อมูลต่อบุคคลที่สาม",
    ms: "Pendedahan maklumat kepada pihak ketiga",
    vi: "Tiết lộ thông tin cho bên thứ ba",
  },
  paras: [
    {
      en: "As part of our business, we might share your personal data with other associated third parties under certain conditions...",
      it: "Nell’ambito della nostra attività, potremmo condividere i tuoi dati personali con altre terze parti associate in determinate condizioni...",
      tr: "İşimizin bir parçası olarak, belirli koşullar altında kişisel verilerinizi diğer ilgili üçüncü taraflarla paylaşabiliriz...",
      ro: "Ca parte a activității noastre, este posibil să împărtășim datele tale personale cu alte părți terțe asociate în anumite condiții...",
      ar: "كجزء من أعمالنا، قد نشارك بياناتك الشخصية مع أطراف ثالثة مرتبطة في ظل ظروف معينة...",
      de: "Im Rahmen unseres Geschäfts können wir Ihre personenbezogenen Daten unter bestimmten Bedingungen mit verbundenen Dritten teilen...",
      es: "Como parte de nuestro negocio, podríamos compartir tus datos personales con terceros asociados bajo ciertas condiciones...",
      sv: "Som en del av vår verksamhet kan vi dela dina personuppgifter med andra associerade tredje parter under vissa förhållanden...",
      pt: "Como parte do nosso negócio, poderemos partilhar os seus dados pessoais com terceiros associados em determinadas condições...",
      fi: "Osana liiketoimintaamme saatamme jakaa henkilötietojasi tietyissä olosuhteissa muiden siihen liittyvien kolmansien osapuolten kanssa...",
      pl: "W ramach naszej działalności możemy udostępniać Twoje dane osobowe innym powiązanym podmiotom trzecim pod pewnymi warunkami...",
      hu: "Üzleti tevékenységünk részeként bizonyos feltételek mellett megoszthatjuk személyes adataidat más kapcsolódó harmadik felekkel...",
      th: "เป็นส่วนหนึ่งของธุรกิจของเรา เราอาจแบ่งปันข้อมูลส่วนบุคคลของคุณกับบุคคลที่สามที่เกี่ยวข้องในบางเงื่อนไข...",
      ms: "Sebagai sebahagian daripada perniagaan kami, kami mungkin berkongsi data peribadi anda dengan pihak ketiga yang berkaitan dalam keadaan tertentu...",
      vi: "Là một phần trong hoạt động kinh doanh, chúng tôi có thể chia sẻ dữ liệu cá nhân của bạn với các bên thứ ba liên kết trong một số điều kiện nhất định...",
    },
    {
      en: "Additionally, we might disclose personal information if this is required for compliance with any regulatory / legal obligation...",
      it: "Inoltre, potremmo divulgare informazioni personali se ciò è richiesto per adempiere a obblighi normativi o legali...",
      tr: "Ayrıca, düzenleyici veya yasal bir yükümlülük gerektiriyorsa kişisel bilgileri açıklayabiliriz...",
      ro: "De asemenea, este posibil să dezvăluim informații personale dacă acest lucru este necesar pentru respectarea unor obligații legale sau de reglementare...",
      ar: "بالإضافة إلى ذلك، قد نفصح عن المعلومات الشخصية إذا كان ذلك مطلوبًا للامتثال لأي التزام قانوني أو تنظيمي...",
      de: "Zusätzlich können wir personenbezogene Daten offenlegen, wenn dies zur Einhaltung gesetzlicher Vorschriften erforderlich ist...",
      es: "Además, podríamos divulgar información personal si es necesario para cumplir con cualquier obligación legal o regulatoria...",
      sv: "Vi kan även lämna ut personuppgifter om det krävs för att uppfylla rättsliga eller regulatoriska skyldigheter...",
      pt: "Além disso, poderemos divulgar informações pessoais se for exigido para cumprir qualquer obrigação legal ou regulamentar...",
      fi: "Lisäksi voimme luovuttaa henkilötietoja, jos se on tarpeen lakisääteisten tai sääntelyvelvoitteiden noudattamiseksi...",
      pl: "Możemy również ujawnić dane osobowe, jeśli jest to wymagane w celu spełnienia obowiązków prawnych lub regulacyjnych...",
      hu: "Továbbá, ha jogi vagy szabályozási kötelezettség áll fenn, akkor személyes adatokat is nyilvánosságra hozhatunk...",
      th: "นอกจากนี้เราอาจเปิดเผยข้อมูลส่วนบุคคลหากจำเป็นเพื่อปฏิบัติตามข้อผูกพันทางกฎหมายหรือกฎระเบียบใดๆ...",
      ms: "Selain itu, kami mungkin mendedahkan maklumat peribadi jika dikehendaki untuk mematuhi sebarang kewajipan undang-undang atau kawal selia...",
      vi: "Ngoài ra, chúng tôi có thể tiết lộ thông tin cá nhân nếu điều này cần thiết để tuân thủ nghĩa vụ pháp lý hoặc quy định...",
    },
    {
      en: "Any other non-personal information can be transmitted to any other parties.",
      it: "Qualsiasi altra informazione non personale può essere trasmessa a qualsiasi altra parte.",
      tr: "Diğer tüm kişisel olmayan bilgiler diğer taraflara aktarılabilir.",
      ro: "Orice altă informație non-personală poate fi transmisă oricărei alte părți.",
      ar: "يمكن نقل أي معلومات أخرى غير شخصية إلى أي أطراف أخرى.",
      de: "Alle anderen nicht personenbezogenen Informationen können an beliebige andere Parteien übermittelt werden.",
      es: "Cualquier otra información no personal puede ser transmitida a otras partes.",
      sv: "All annan icke-personlig information kan överföras till andra parter.",
      pt: "Quaisquer outras informações não pessoais podem ser transmitidas a outras partes.",
      fi: "Kaikki muut kuin henkilökohtaiset tiedot voidaan välittää muille osapuolille.",
      pl: "Wszelkie inne informacje nieosobowe mogą być przekazywane innym stronom.",
      hu: "Bármely más, nem személyes jellegű információ továbbítható más feleknek.",
      th: "ข้อมูลอื่น ๆ ที่ไม่ใช่ข้อมูลส่วนบุคคลสามารถส่งต่อให้บุคคลอื่นได้",
      ms: "Apa-apa maklumat bukan peribadi lain boleh dihantar kepada mana-mana pihak lain.",
      vi: "Bất kỳ thông tin phi cá nhân nào khác đều có thể được chuyển tiếp cho các bên khác.",
    },
    {
      en: `Before leaving any personal information, please make sure that you have read and understood this <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Privacy Policy</a>.`,
      it: `Prima di fornire qualsiasi informazione personale, assicurati di aver letto e compreso questa <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Informativa sulla Privacy</a>.`,
      tr: `Herhangi bir kişisel bilgi bırakmadan önce lütfen bu <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Gizlilik Politikasını</a> okuduğunuzdan ve anladığınızdan emin olun.`,
      ro: `Înainte de a furniza orice informație personală, te rugăm să te asiguri că ai citit și înțeles această <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Politică de Confidențialitate</a>.`,
      ar: `قبل إدخال أي معلومات شخصية، يرجى التأكد من أنك قد قرأت وفهمت <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">سياسة الخصوصية</a> هذه.`,
      de: `Bevor Sie persönliche Informationen angeben, stellen Sie bitte sicher, dass Sie diese <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Datenschutzerklärung</a> gelesen und verstanden haben.`,
      es: `Antes de proporcionar cualquier información personal, asegúrate de haber leído y comprendido esta <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Política de Privacidad</a>.`,
      sv: `Innan du lämnar någon personlig information, se till att du har läst och förstått denna <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Integritetspolicy</a>.`,
      pt: `Antes de fornecer qualquer informação pessoal, certifique-se de que leu e compreendeu esta <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Política de Privacidade</a>.`,
      fi: `Varmista ennen henkilötietojen jättämistä, että olet lukenut ja ymmärtänyt tämän <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Tietosuojakäytännön</a>.`,
      pl: `Zanim podasz jakiekolwiek dane osobowe, upewnij się, że przeczytałeś i zrozumiałeś tę <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Politykę Prywatności</a>.`,
      hu: `Mielőtt személyes adatokat adsz meg, győződj meg arról, hogy elolvastad és megértetted a <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Adatvédelmi Szabályzatot</a>.`,
      th: `ก่อนที่คุณจะให้ข้อมูลส่วนบุคคล โปรดแน่ใจว่าคุณได้อ่านและเข้าใจ <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">นโยบายความเป็นส่วนตัว</a> นี้แล้ว`,
      ms: `Sebelum memberikan sebarang maklumat peribadi, pastikan anda telah membaca dan memahami <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Dasar Privasi</a> ini.`,
      vi: `Trước khi cung cấp bất kỳ thông tin cá nhân nào, hãy đảm bảo rằng bạn đã đọc và hiểu <a href="${componentProps.brandObj.privacyLink[componentProps.lang]}" class="font-bold">Chính sách Bảo mật</a> này.`,
    },
  ],
  list: [],
};
---

<section id="section5">
  <div class="container space-y-4">
    <h2
      set:html={infoSection5.title[componentProps.lang]}
      class="text-lg font-medium"
    />

    {
      infoSection5.paras?.map((para) => (
        <p set:html={para[componentProps.lang]} class="mb-2" />
      ))
    }

    <ul class="list-inside list-disc">
      {
        infoSection5.list?.map((li) => (
          <li set:html={li[componentProps.lang]} class="mb-2" />
        ))
      }
    </ul>
  </div>
</section>
