---
import type { CustomOptions } from "@/pages/index.astro";
import { Image } from "astro:assets";
import MainLogo from "../../../../../globals/components/logos/MainLogo.astro";
import { showcase } from "../../../../../globals/features/showcase/text";
import type { FXOROGlobalSVGVariation } from "../../../../../globals/types/brands/logo";
import type { ComponentProps } from "../../../../../globals/types/component-props";
import { Features } from "../../../../../globals/types/enums";
import type { TranslationsType } from "../../../../../globals/types/translations";
import phone from "../../assets/aside/default/fxoro_phone.png";

interface Props {
  componentProps: ComponentProps<FXOROGlobalSVGVariation, CustomOptions>;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Trade Anywhere. Anytime. <span class="text-primary block">With the ${componentProps.brandObj.name} Trading App.</span>`,
  it: "",
  tr: "",
  ro: "",
  ar: `تداول في أي مكان، وفي أي وقت، مع تطبيق ${componentProps.brandObj.name} للتداول`,
  de: "",
  es: "",
  sv: ``,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};
---

<Fragment>
  <Image
    src={phone}
    alt="Background pattern"
    class="pointer-events-none absolute inset-0 z-0 block h-full w-full object-cover"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, phone.width]}
    sizes={`100vw`}
  />
  <div class="relative z-10 flex flex-col gap-8 text-white">
    <div class="mx-auto w-fit">
      <MainLogo
        size={componentProps.brandObj.nameToLower}
        logo={componentProps.logo()}
        square={componentProps.customOptions?.logoSquare}
      />
    </div>

    <h2
      class="text-heading2 text-center font-black text-balance"
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 10,
          })
        : title[componentProps.lang]}
    />
  </div>
</Fragment>

<style is:global>
  /* @reference "../styles/global.css"; */
</style>
