---
import { icon1 } from "@/constants/icon1";
import { icon2 } from "@/constants/icon2";
import { icon3 } from "@/constants/icon3";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import tablet from "../assets/tablet.png";
import { Button } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Why trade bitcoin cfds with ${componentProps.brandObj.name}?`,
  it: `Perché fare trading su cfd di bitcoin con ${componentProps.brandObj.name}?`,
  tr: ``,
  ro: ``,
  ar: `لماذا تتداول عقود الفروقات على البيتكوين مع ${componentProps.brandObj.name}؟`,
  de: ``,
  es: `¿Por qué operar cfds sobre bitcoin con ${componentProps.brandObj.name}?`,
  sv: `Varför handla bitcoin-cfd med ${componentProps.brandObj.name}?`,
  pt: ``,
  fi: ``,
  pl: `Dlaczego warto handlować cfd na bitcoin z ${componentProps.brandObj.name}?`,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const paras: TranslationsType[] = [
  {
    en: `At ${componentProps.brandObj.name}, we believe in creating and consolidating a long-term partnership with our clients. Join us and benefit from: `,
    it: `In ${componentProps.brandObj.name}, crediamo nel costruire e consolidare un rapporto a lungo termine con i nostri clienti. Unisciti e approfitta di:`,
    tr: ``,
    ro: ``,
    ar: `في ${componentProps.brandObj.name}، نؤمن ببناء علاقة طويلة الأمد مع عملائنا. انضم إلينا واستفد من:`,
    de: ``,
    es: `En ${componentProps.brandObj.name}, creemos en crear y consolidar una relación a largo plazo con nuestros clientes. Únete y aprovecha:`,
    sv: `På ${componentProps.brandObj.name} tror vi på att skapa och bygga långsiktiga relationer med våra kunder. Gå med oss och dra nytta av:`,
    pt: ``,
    fi: ``,
    pl: `W ${componentProps.brandObj.name} wierzymy w budowanie i utrzymywanie długoterminowego partnerstwa z naszymi klientami. Dołącz do nas i skorzystaj z:`,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
];

const bullets: {
  icon: string;
  title: TranslationsType;
  para: TranslationsType;
}[] = [
  {
    icon: icon1,
    title: {
      en: `Flexibility`,
      it: `Flessibilità`,
      tr: ``,
      ro: ``,
      ar: `المرونة`,
      de: ``,
      es: `Flexibilidad`,
      sv: `Flexibilitet`,
      pt: ``,
      fi: ``,
      pl: `Elastyczności`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `Go long or short on Bitcoin and according to market trends.`,
      it: `apri posizioni long o short su Bitcoin, secondo l’andamento del mercato.`,
      tr: ``,
      ro: ``,
      ar: `افتح مراكز شراء أو بيع على البيتكوين حسب اتجاهات السوق`,
      de: ``,
      es: `Abre posiciones largas o cortas en Bitcoin, según las tendencias del mercado.`,
      sv: `Ta långa eller korta positioner i Bitcoin beroende på marknadstrender.`,
      pt: ``,
      fi: ``,
      pl: `Otwieraj długie lub krótkie pozycje na Bitcoinie zgodnie z trendami rynkowymi.`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    icon: icon2,
    title: {
      en: `Innovation`,
      it: `Innovazione`,
      tr: ``,
      ro: ``,
      ar: `الابتكار`,
      de: ``,
      es: `Innovación`,
      sv: `Innovation`,
      pt: ``,
      fi: ``,
      pl: `Innowacji`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `Use our state-of-art interface and tools.`,
      it: `utilizza la nostra interfaccia e gli strumenti all’avanguardia.`,
      tr: ``,
      ro: ``,
      ar: ` استخدم منصتنا وأدواتنا المتطورة`,
      de: ``,
      es: `Utiliza nuestra interfaz y herramientas de última generación.`,
      sv: `Använd vårt toppmoderna gränssnitt och verktyg.`,
      pt: ``,
      fi: ``,
      pl: `Korzystaj z naszej nowoczesnej platformy i zaawansowanych narzędzi.`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    icon: icon3,
    title: {
      en: `Dedicated app`,
      it: `App dedicata`,
      tr: ``,
      ro: ``,
      ar: `تطبيق مخصص`,
      de: ``,
      es: `App dedicada`,
      sv: `Dedikerad app`,
      pt: ``,
      fi: ``,
      pl: `Dedykowanej aplikacji`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `Stay in control of your investments, from your mobile device.`,
      it: `gestisci i tuoi investimenti direttamente dal tuo dispositivo mobile.`,
      tr: ``,
      ro: ``,
      ar: `راقب استثماراتك من هاتفك المحمول`,
      de: ``,
      es: `Mantén el control de tus inversiones desde tu dispositivo móvil.`,
      sv: `Håll kontrollen över dina investeringar från din mobil.`,
      pt: ``,
      fi: ``,
      pl: `Miej pełną kontrolę nad swoimi inwestycjami bezpośrednio ze swojego urządzenia mobilnego.`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
];

const buttonLabel: TranslationsType = {
  en: `Trade with ${componentProps.brandObj.name}`,
  it: `Fai trading sui CFD di Bitcoin`,
  tr: ``,
  ro: ``,
  ar: `تداول عقود الفروقات على البيتكوين`,
  de: ``,
  es: `Opera CFDs sobre Bitcoin`,
  sv: `Handla CFD på Bitcoin`,
  pt: ``,
  fi: ``,
  pl: `Handluj z ${componentProps.brandObj.name}`,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section id="section3" class="section3 pt-y-spacing">
  <div class="text-paras container flex flex-col gap-6">
    <h2
      class="text-heading2 leading-heading2 text-accent-blue font-black text-balance uppercase"
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 5,
          })
        : title[componentProps.lang]}
    />

    {
      paras.map((para) => (
        <p
          set:html={
            componentProps.features?.includes(Features.showcase)
              ? showcase({
                  words: 15,
                })
              : para[componentProps.lang]
          }
          class=""
        />
      ))
    }

    <div
      class="flex flex-col items-center justify-center gap-4 lg:flex-row lg:items-start"
    >
      {
        bullets.map((bullet) => (
          <div class="flex w-full flex-col items-center justify-start gap-4 text-center">
            <div
              set:html={bullet.icon}
              class="size-16 [&>svg]:h-full [&>svg]:w-full"
            />
            <h3
              set:html={
                componentProps.features?.includes(Features.showcase)
                  ? showcase({
                      words: 2,
                    })
                  : bullet.title[componentProps.lang] + ":"
              }
              class="text-heading3 text-primary font-black"
            />
            <p
              set:html={
                componentProps.features?.includes(Features.showcase)
                  ? showcase({
                      words: 10,
                    })
                  : bullet.para[componentProps.lang]
              }
            />
          </div>
        ))
      }
    </div>

    <div class="grid place-items-center">
      <ButtonDisclaimer
        componentProps={componentProps}
        disclaimer={{
          active: true,
        }}
      >
        <Button
          variant={"orange"}
          className={cn(
            "js-modal-trigger h-auto w-full max-w-full cursor-pointer py-2 font-black whitespace-normal uppercase md:py-6 lg:px-16",
          )}
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 2,
              })
            : buttonLabel[componentProps.lang]}
        />
      </ButtonDisclaimer>
    </div>

    <Image
      src={tablet}
      alt="Background"
      class=""
      widths={[320, 576, 640, 768, 1024, tablet.width]}
      sizes={`
        (max-width: 320px) 271px,
        (max-width: 576px) 526px,
        (max-width: 640px) 590px,
        (max-width: 768px) 718px,
        (max-width: 1024px) 992px,
        100vw
      `}
    />
  </div>
</section>
