---
import type { DataTable } from "types/data-table";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";
import { TableWrapper } from "./Table-Wrapper";
import { Button } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: `Why traders are leaving other platforms for ${componentProps.brandObj.name}`,
      it: "",
      tr: "",
      ro: "",
      ar: `لماذا يترك المتداولون المنصات الأخرى من أجل ${componentProps.brandObj.name}`,
      de: "",
      es: `Por qué los traders están dejando otras plataformas por ${componentProps.brandObj.name}`,
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const subTitle: TranslationsType = textBy(
  {
    default: {
      en: `${componentProps.brandObj.name} delivers what most brokers don’t: speed, support, unique market access, and an environment tailored for real traders.`,
      it: "",
      tr: "",
      ro: "",
      ar: `تقدّم ${componentProps.brandObj.name} ما لا يقدمه معظم الوسطاء: السرعة، الدعم، الوصول الفريد إلى الأسواق، وبيئة مصممة خصيصًا للمتداولين الحقيقيين.`,
      de: "",
      es: `${componentProps.brandObj.name} ofrece lo que la mayoría de los brokers no: velocidad, soporte, acceso único al mercado y un entorno diseñado para traders reales.`,
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const para: TranslationsType = textBy(
  {
    default: {
      en: `Join over 1 million traders who’ve made the switch to ${componentProps.brandObj.name}.`,
      it: "",
      tr: "",
      ro: "",
      ar: `انضم إلى أكثر من مليون متداول قاموا بالتحوّل إلى ${componentProps.brandObj.name}.`,
      de: "",
      es: `Únete a más de 1 millón de traders que ya se han cambiado a ${componentProps.brandObj.name}.`,
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const buttonLabel: TranslationsType = textBy(
  {
    default: {
      en: "Make the Switch Today",
      it: "",
      tr: "",
      ro: "",
      ar: "ابدأ التحوّل اليوم",
      de: "",
      es: "Haz el cambio hoy",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    cysec: {
      en: "",
      it: "",
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: "",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const table: DataTable = {
  titles: [
    {
      en: "Advantage",
      it: "",
      tr: "",
      ro: "",
      ar: "الميزة",
      de: "",
      es: "Ventaja",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    {
      en: "FXORO Global",
      it: "",
      tr: "",
      ro: "",
      ar: "FXORO Global",
      de: "",
      es: "FXORO Global",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
    {
      en: "Typical Broker Experience",
      it: "",
      tr: "",
      ro: "",
      ar: "التجربة التقليدية",
      de: "",
      es: "Experiencia típica",
      sv: "",
      pt: "",
      fi: "",
      pl: "",
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  ],
  data: [
    {
      advantage: {
        en: "Dubai Index Assets",
        it: "",
        tr: "",
        ro: "",
        ar: "أصول مؤشر دبي",
        de: "",
        es: "Activos del Índice de Dubái",
        sv: "",
        pt: "",
        fi: "",
        pl: "",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      fxoro_global: {
        label: {
          en: "Available",
          it: "",
          tr: "",
          ro: "",
          ar: "مجاني ومخصص",
          de: "",
          es: "Disponibles",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        isAvailable: true,
      },
      typical_broker_exp: {
        label: {
          en: "Not Offered",
          it: "",
          tr: "",
          ro: "",
          ar: "غير معروضة",
          de: "",
          es: "No disponibles",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        isAvailable: false,
      },
    },
    {
      advantage: {
        en: "1:1 Expert Training",
        it: "",
        tr: "",
        ro: "",
        ar: "تدريب فردي 1:1",
        de: "",
        es: "Entrenamiento 1:1",
        sv: "",
        pt: "",
        fi: "",
        pl: "",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      fxoro_global: {
        label: {
          en: "Free & Personalized",
          it: "",
          tr: "",
          ro: "",
          ar: "مجاني ومخصص",
          de: "",
          es: "Gratis y personalizado",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        isAvailable: true,
      },
      typical_broker_exp: {
        label: {
          en: "Often Generic",
          it: "",
          tr: "",
          ro: "",
          ar: "غالبًا عام",
          de: "",
          es: "Generalmente genérico",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        isAvailable: false,
      },
    },
    {
      advantage: {
        en: "Localized Account Manager",
        it: "",
        tr: "",
        ro: "",
        ar: "مدير حساب محلي",
        de: "",
        es: "Gestor de cuenta local",
        sv: "",
        pt: "",
        fi: "",
        pl: "",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      fxoro_global: {
        label: {
          en: "Multilingual",
          it: "",
          tr: "",
          ro: "",
          ar: "متعدد اللغات",
          de: "",
          es: "Multilingüe",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        isAvailable: true,
      },
      typical_broker_exp: {
        label: {
          en: "Varies",
          it: "",
          tr: "",
          ro: "",
          ar: "يختلف",
          de: "",
          es: "Variable",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
    },
    {
      advantage: {
        en: "Lightning-Quick Execution",
        it: "",
        tr: "",
        ro: "",
        ar: "تنفيذ سريع للغاية",
        de: "",
        es: "Ejecución ultra rápida",
        sv: "",
        pt: "",
        fi: "",
        pl: "",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      fxoro_global: {
        label: {
          en: "Prioritized Speed",
          it: "",
          tr: "",
          ro: "",
          ar: "أولوية للسرعة",
          de: "",
          es: "Enfocada en velocidad",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        isAvailable: true,
      },
      typical_broker_exp: {
        label: {
          en: "Standard Speed",
          it: "",
          tr: "",
          ro: "",
          ar: "سرعة عادية",
          de: "",
          es: "Velocidad estándar",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        isAvailable: false,
      },
    },
    {
      advantage: {
        en: "Fully Synced Web & App Trading",
        it: "",
        tr: "",
        ro: "",
        ar: "تداول متزامن عبر الويب والتطبيق",
        de: "",
        es: "Trading sincronizado web/app",
        sv: "",
        pt: "",
        fi: "",
        pl: "",
        hu: "",
        th: "",
        ms: "",
        vi: "",
      },
      fxoro_global: {
        label: {
          en: "Seamless",
          it: "",
          tr: "",
          ro: "",
          ar: "بدون انقطاع",
          de: "",
          es: "Sin interrupciones",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
        isAvailable: true,
      },
      typical_broker_exp: {
        label: {
          en: "Often Disconnected",
          it: "",
          tr: "",
          ro: "",
          ar: "غالبًا غير متزامن",
          de: "",
          es: "A menudo desconectado",
          sv: "",
          pt: "",
          fi: "",
          pl: "",
          hu: "",
          th: "",
          ms: "",
          vi: "",
        },
      },
    },
  ],
};
---

<section id="section1" class="section1 py-custom-spacing">
  <div class="space-y-custom-spacing container">
    <h2
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 10,
          })
        : title[componentProps.lang]}
      class="text-heading2 text-primary font-black text-balance uppercase lg:text-center"
    />
    <p
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 15,
          })
        : subTitle[componentProps.lang]}
      class="text-para-lead text-balance lg:text-center"
    />

    <div>
      <TableWrapper componentProps={componentProps} table={table} client:load />
    </div>

    <p
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 10,
          })
        : para[componentProps.lang]}
      class="text-para-lead text-balance lg:text-center"
    />

    <ButtonDisclaimer
      componentProps={componentProps}
      client:load
      className="mx-auto"
      disclaimer={{
        active: false,
      }}
    >
      <Button
        variant={"secondary"}
        className={"js-modal-trigger text-heading3! w-full cursor-pointer font-black uppercase md:px-8"}
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 2,
            })
          : buttonLabel[componentProps.lang]}
      />
    </ButtonDisclaimer>
  </div>
</section>
