---
import { cn } from "@/lib/utils";
import { ButtonDisclaimer } from "../../../../globals/components/button-disclaimer";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { Button } from "./ui/button";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `Your daily market advantage`,
  it: `Il tuo vantaggio quotidiano sul mercato`,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: `Din dagliga fördel på marknaden`,
  pt: ``,
  fi: ``,
  pl: `Twój codzienny atut na rynku`,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const paras: TranslationsType[] = [
  {
    en: `From Technical Views to AI-powered news feeds, Trading Central helps you stay ahead of market trends with clarity and confidence. These tools are designed to support both novice and experienced traders, offering real-time data, expert analysis, and clear entry/exit points for your trading decisions.`,
    it: `Dalle Technical Views ai feed di notizie potenziati dall’IA, Trading Central ti aiuta a rimanere al passo con le tendenze di mercato in modo chiaro e sicuro. Questi strumenti supportano sia i trader alle prime armi che quelli esperti, offrendo dati in tempo reale, analisi di esperti e punti di ingresso/uscita chiari per le tue decisioni.`,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: ``,
    sv: `Från tekniska vyer till AI-drivna nyhetsflöden hjälper Trading Central dig att hålla dig steget före marknadstrender med tydlighet och självförtroende. Verktygen är designade för både nya och erfarna handlare, med realtidsdata, expertanalyser och tydliga in-/utgångspunkter.`,
    pt: ``,
    fi: ``,
    pl: `Od Technical Views po wiadomości wspierane przez sztuczną inteligencję—Trading Central pomaga Ci być o krok przed trendami rynkowymi, oferując jasność i pewność. Narzędzia są stworzone zarówno dla początkujących, jak i doświadczonych traderów, oferując dane w czasie rzeczywistym, analizę ekspertów i wyraźne punkty wejścia/wyjścia.`,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
  {
    en: `<span class="font-semibold">With access to signal-based strategies, top indicators, and technical analysis, you'll be equipped to navigate the financial markets.</span>`,
    it: `<span class="font-semibold">Con strategie basate su segnali, indicatori principali e analisi tecniche, sarai pronto a navigare i mercati finanziari.</span>`,
    tr: ``,
    ro: ``,
    ar: ``,
    de: ``,
    es: ``,
    sv: `<span class="font-semibold">Med signalbaserade strategier, toppindikatorer och teknisk analys är du väl rustad att navigera på finansmarknaden.</span>`,
    pt: ``,
    fi: ``,
    pl: `<span class="font-semibold">Dzięki strategiom opartym na sygnałach, kluczowym wskaźnikom i analizie technicznej, zyskujesz przewagę na rynku finansowym.</span>`,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
];

const buttonLabel: TranslationsType = {
  en: `Start with ${componentProps.brandObj.name}`,
  it: `Inizia con ${componentProps.brandObj.name}`,
  tr: ``,
  ro: ``,
  ar: ``,
  de: ``,
  es: ``,
  sv: `Börja med ${componentProps.brandObj.name}`,
  pt: ``,
  fi: ``,
  pl: `Zacznij z ${componentProps.brandObj.name}`,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};
---

<section id="section1" class="section1 py-custom-spacing">
  <div class="space-y-custom-spacing container">
    <h2
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 5,
          })
        : title[componentProps.lang]}
      class="text-heading2 font-black text-balance uppercase"
    />

    {
      paras.map((para) => (
        <p
          set:html={
            componentProps.features?.includes(Features.showcase)
              ? showcase({
                  words: 50,
                })
              : para[componentProps.lang]
          }
          class="text-para-lead"
        />
      ))
    }

    <ButtonDisclaimer
      componentProps={componentProps}
      disclaimer={{
        active: true,
      }}
      className="mx-auto"
    >
      <Button
        variant={"secondary"}
        className={cn(
          "js-modal-trigger h-auto w-full max-w-full cursor-pointer px-8 py-4 text-lg font-black whitespace-normal uppercase xl:w-[350px]",
        )}
        set:html={componentProps.features?.includes(Features.showcase)
          ? showcase({
              words: 2,
            })
          : buttonLabel[componentProps.lang]}
      />
    </ButtonDisclaimer>
  </div>
</section>
