---
import { icon1 } from "@/constants/icon1";
import { icon2 } from "@/constants/icon2";
import { icon3 } from "@/constants/icon3";
import { icon4 } from "@/constants/icon4";
import { icon5 } from "@/constants/icon5";
import { cn } from "@/lib/utils";
import SVGMask from "../../../../globals/components/svg-mask";
import type { ComponentProps } from "../../../../globals/types/component-props";
import type { TranslationsType } from "../../../../globals/types/translations";
import { Card } from "./ui/card";
import { Features } from "../../../../globals/types/enums";
import { showcase } from "../../../../globals/features/showcase/text";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: `We offer trading tools designed to enhance your trading goals.`,
  it: ``,
  tr: ``,
  ro: ``,
  ar: `نحن ندعم تداولك بأدوات مصممة من شأنها مساعدتك في الوصول إلى أهداف التداول الخاصة بك.`,
  de: ``,
  es: ``,
  sv: ``,
  pt: ``,
  fi: ``,
  pl: ``,
  hu: ``,
  th: ``,
  ms: ``,
  vi: ``,
};

const bullets: {
  title: TranslationsType;
  icon: string;
  para: TranslationsType;
}[] = [
  {
    title: {
      en: `${componentProps.brandObj.name} Tools for your trading`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `أدوات إدارة المحفظة`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    icon: icon1,
    para: {
      en: `${componentProps.brandObj.name} offers a variety of tools. You can trade CFDs on Forex, stocks, commodities and indices through TradingProfiler as well as trade CFDs on Cryptocurrencies and ETFs.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `تقدم ${componentProps.brandObj.name} مجموعة متنوعة من الأدوات. يمكنك تداول العقود مقابل الفروقات على الفوركس والأسهم والسلع والمؤشرات من خلال ${componentProps.brandObj.name} وكذلك تداول العملات المشفرة عبر العقود مقابل الفروقات.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    title: {
      en: `Islamic Account`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `الحساب الإسلامي`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    icon: icon2,
    para: {
      en: `Islamic Accounts are offered for those that they cannot receive or pay interest, for religious reasons, This is why they are also referred swap-free accounts.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `"يتم تقديم الحسابات الإسلامية لأولئك الذين لا يستطيعون الحصول عليها أو دفع فوائد لأسباب دينية. ولهذا السبب يتم إحالتهم أيضًا إلى حسابات خالية من الفوائد. "`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    title: {
      en: `Main types of trading accounts`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `أنواع رئيسية من حسابات التداول`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    icon: icon3,
    para: {
      en: `Among the most popular on the market: fixed spread account, variable spread account, with Islamic account optional.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `من بين الأكثر شيوعًا في السوق: حسابات الفروق الثابتة ، وحسابات الفروق المتغيرة ، مع الحسابات الإسلامية الاختيارية.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    title: {
      en: `Trading Central “Analyst Views”`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `Trading Central آراء المحللين`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    icon: icon4,
    para: {
      en: `Analytical views created by a team of high-level market technicians who daily cross-reference information and develop reports capable ofproviding traders with an increasingly refined technical analysis.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `وجهات النظر التحليلية التي أنشأها فريق من تقنيي السوق رفيعي المستوى الذين يقومون يوميًا بمراجع مرجعية للمعلومات ووضع تقارير قادرة على تزويد المتداولين بتحليل فني دقيق بشكل متزايد.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  {
    title: {
      en: `Trading Central “Strategy Newsletter”`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `النشرة الإخبارية الاستراتيجية`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    icon: icon5,
    para: {
      en: `Trading Central's newsletter lets investors keep up with the market, stay informed about news and read important economic reports.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `تتيح النشرة الإخبارية من Trading Central للمستثمرين مواكبة السوق والبقاء على اطلاع بالأخبار وقراءة التقارير الاقتصادية المهمة.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
];
---

<section class="py-4 md:py-9 lg:py-10 xl:py-12">
  <div
    class="container flex max-w-[850px] flex-col items-center justify-center gap-4 md:gap-10"
  >
    <h2
      class="text-heading2 max-w-[30ch] text-center leading-tight font-bold"
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 10,
          })
        : title[componentProps.lang]}
    />
    <div
      class="counter flex w-full grow flex-col gap-4 md:grid md:grid-cols-2 md:gap-6"
    >
      {
        bullets.map((bullet, index) => (
          <Card
            className={cn(
              `flex flex-col gap-4 overflow-hidden rounded-md border-2 border-black p-4`,
              bullets.length - 1 === index ? "col-span-2" : "",
            )}
          >
            <div
              class={cn(
                `flex flex-row items-center justify-between gap-4 md:gap-8`,
                bullets.length - 1 === index && "md:flex-col-reverse",
              )}
            >
              <h3
                class="text-[16px] font-bold"
                set:html={
                  componentProps.features?.includes(Features.showcase)
                    ? showcase({
                        words: 3,
                      })
                    : bullet.title[componentProps.lang]
                }
              />
              <div class="text-primary text-8xl">
                <SVGMask url={bullet.icon} />
              </div>
            </div>
            <p>
              {componentProps.features?.includes(Features.showcase)
                ? showcase({
                    words: 30,
                  })
                : bullet.para[componentProps.lang]}
            </p>
          </Card>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  .counter {
    counter-reset: bullet;
    h3 {
      &::before {
        counter-increment: bullet;
        content: counter(bullet) ". ";
      }
    }
  }
</style>
