---
import { Image } from "astro:assets";
import { showcase } from "../../../../globals/features/showcase/text";
import type { ComponentProps } from "../../../../globals/types/component-props";
import { Features } from "../../../../globals/types/enums";
import type { TranslationsType } from "../../../../globals/types/translations";
import { textBy } from "../../../../globals/utils/text-by";
import devices from "../assets/devices.png";
import bg from "../assets/s2BG.jpg";

interface Props {
  componentProps: ComponentProps;
}
const { componentProps } = Astro.props;

const title: TranslationsType = textBy(
  {
    default: {
      en: `You can trade through:`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `يمكنك التداول من خلال:`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: ``,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    cysec: {
      en: `You can trade through:`,
      it: ``,
      tr: "",
      ro: "",
      ar: "",
      de: "",
      es: ``,
      sv: ``,
      pt: ``,
      fi: "",
      pl: `Handlujemy za pomocą:`,
      hu: "",
      th: "",
      ms: "",
      vi: "",
    },
  },
  "license",
  componentProps,
);

const bullets: {
  mt4: {
    title: TranslationsType;
    para: TranslationsType;
  };
  mobileApp: {
    title: TranslationsType;
    para: TranslationsType;
  };
  para: TranslationsType;
} = {
  mt4: {
    title: {
      en: `MT4`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `MT4`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: `MT4`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `is one of the world's most popular trading platforms, with over 6 million users and 2,000 partner brokers. “Metatrader 4”, with its advanced web technology features and extra functionality`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `هي واحدة من أشهر منصات التداول في العالم ، مع أكثر من 6 ملايين مستخدم و 2000 وسيط شريك. "ميتاتريدر 4" ، بميزات تقنية الويب المتقدمة والوظائف الإضافية`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: `jest jedną z najpopularniejszych platform transakcyjnych na świecie, liczy ponad 6 milionów użytkowników i 2000 brokerów. „Metatrader 4” zawiera wszystkie zaawansowane narzędzia, jednocześnie będąc prosty w obsłudze.`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  mobileApp: {
    title: {
      en: `MOBILE APP - ${componentProps.brandObj.name}`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `تطبيق جوال`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: `Aplikacja mobilna ${componentProps.brandObj.name}`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
    para: {
      en: `app is available on iOS (iPad and iPhone) and Android devices. It offers all the same features as its desktop counterpart, but with a user-friendly interface that’s easy to navigate.`,
      it: ``,
      tr: ``,
      ro: ``,
      ar: `تطبيق ${componentProps.brandObj.name} متاح على أجهزة iOS (iPad و iPhone) وأجهزة Android. إنه يقدم نفس الميزات مثل نظيره المكتبي ، ولكن بواجهة سهلة الاستخدام يسهل التنقل فيها.`,
      de: ``,
      es: ``,
      sv: ``,
      pt: ``,
      fi: ``,
      pl: `Aplikacja jest dostępna na urządzenia z systemem iOS (iPad i iPhone) oraz Android. Oferuje te same funkcje, co jego komputerowy odpowiednik i jest równie intuicyjna.`,
      hu: ``,
      th: ``,
      ms: ``,
      vi: ``,
    },
  },
  para: {
    en: `We strive to offer customers a seamless experience across all platforms. ${componentProps.brandObj.name} trading platform is designed to provide the simplicity that a trader seeks.`,
    it: ``,
    tr: ``,
    ro: ``,
    ar: `نحن نسعى جاهدين لنقدم للعملاء تجربة سلسة عبر جميع المنصات. تم تصميم منصة التداول ${componentProps.brandObj.name} لتوفير البساطة التي يبحث عنها المتداول.`,
    de: ``,
    es: ``,
    sv: ``,
    pt: ``,
    fi: ``,
    pl: `Staramy się oferować klientom najlepszą obsługę na wszystkich platformach. Platforma ${componentProps.brandObj.name} została zaprojektowana w celu zapewnienia prostoty, której poszukuje każdy trader.`,
    hu: ``,
    th: ``,
    ms: ``,
    vi: ``,
  },
};
---

<section class="relative py-4 md:py-9 lg:py-10 xl:py-12">
  <Image
    src={bg}
    alt="Header Background"
    class="absolute inset-0 z-0 h-full w-full object-cover"
    widths={[320, 576, 640, 768, 1024, 1280, 1536, bg.width]}
    sizes={`
      (max-width: 320px) 320px,
      (max-width: 576px) 576px,
      (max-width: 640px) 640px,
      (max-width: 768px) 768px,
      (max-width: 1024px) 1024px,
      (max-width: 1280px) 1280px,
      (max-width: 1536px) 1536px,
      100vw
    `}
  />
  <div class="relative z-10 container flex flex-col gap-4 text-white md:gap-10">
    <h2
      class="text-heading2 text-center font-bold"
      set:html={componentProps.features?.includes(Features.showcase)
        ? showcase({
            words: 5,
          })
        : title[componentProps.lang]}
    />
    <div class="flex flex-col gap-4 text-center md:flex-row md:text-start">
      <div class="flex flex-col gap-4">
        <h3
          class="font-bold"
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 1,
              })
            : bullets.mt4.title[componentProps.lang]}
        />
        <p
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 30,
              })
            : bullets.mt4.para[componentProps.lang]}
        />
        <h3
          class="font-bold"
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 5,
                brandName: componentProps.brandObj.name,
                spanClasses: "font-bold",
              })
            : bullets.mobileApp.title[componentProps.lang]}
        />
        <p
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 30,
              })
            : bullets.mobileApp.para[componentProps.lang]}
        />
        <p
          class="font-bold"
          set:html={componentProps.features?.includes(Features.showcase)
            ? showcase({
                words: 15,
              })
            : bullets.para[componentProps.lang]}
        />
      </div>
      <div class="grid place-items-center md:w-[40%] md:min-w-[40%]">
        <Image
          src={devices}
          alt="Header Background"
          class="w-full max-w-[445px]"
          widths={[320, 576, devices.width]}
          sizes={`576px`}
        />
      </div>
    </div>
  </div>
</section>
