---
import { type CustomOptions } from "@/pages/index.astro";
import MainLogo from "../../../../globals/components/logos/MainLogo.astro";
import { type ComponentProps } from "../../../../globals/types/component-props";
import type {TranslationsType} from "../../../../globals/types/translations";
import { Image } from "astro:assets";
import background from "../assets/header.jpg";
import {cn} from "../lib/utils";

interface Props {
  componentProps: ComponentProps<any, CustomOptions>;
}
const { componentProps } = Astro.props;

const title: TranslationsType = {
  en: "",
  it: "Ottieni il nostro kit di formazione",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: `Hämta vårt utbildningspaket`,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};
const para: TranslationsType = {
  en: "",
  it: "Un pacchetto didattico e intensivo!",
  tr: "",
  ro: "",
  ar: "",
  de: "",
  es: "",
  sv: `Ett intensivt utbildningspaket!`,
  pt: "",
  fi: "",
  pl: ``,
  hu: "",
  th: "",
  ms: "",
  vi: "",
};
---

<header id="header" class="relative">
  <Image
      src={background}
      alt="Background"
      class={cn(
          "absolute inset-0 z-0 h-full w-full object-cover pointer-events-none bgImage",
          componentProps.lang === "ar" ? "scale-x-[-1] " : "",
      )}
      widths={[320, 576, 640, 768, 1024, 1280, 1536, background.width]}
      sizes={`100vw`}
      loading={"eager"}
  />
  <div class="z-10 relative text-white">
    <div class="container pt-custom-spacing">
      <MainLogo
          size={componentProps.brandObj.nameToLower}
          logo={componentProps.logo()}
          square={componentProps.customOptions?.logoSquare}
      />
    </div>
    <div class="container py-[clamp(1.5rem,_-0.4259rem_+_9.6296vw,_8rem)] 2xl:pb-[384px]">
      <h1
          class="text-heading1 uppercase"
          set:html={title[componentProps.lang]}
      />
      <p class="text-para-lead" set:html={para[componentProps.lang]} />
    </div>
  </div>
</header>

<style lang="scss">
  .bgImage {
    @media (min-width: 768px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    }
    @media (min-width: 1400px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    }
    @media (min-width: 1536px) {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 50%);
    }
  }
</style>